<a href="https://colab.research.google.com/github/JakeOh/202011_itw_bd21/blob/main/lab_da/da05_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*   NumPy 패키지
    *   클래스: ndarray(n-dimensional array)
    *   배열(array) 또는 행렬(matrix)과 같은 숫자형 데이터들을 빠르게 연산.
*   pandas 패키지
    *   클래스: Series(1차원 데이터), DataFrame(2차원 데이터)
    *   표(table)와 같은 형태의 데이터를 분석, 정제, 조작하는 기능.
*   matplotlib 패키지
    *   시각화(visualization). 그래프.

In [1]:
# pandas 패키지 import
import pandas as pd

In [2]:
pd.__version__  # Colab에서 설치된 pandas 패키지의 버전

'1.1.5'

In [3]:
# pandas.Series: 한가지 타입의 값 여러개를 저장할 수 있는 1차원 모양의 데이터 타입(클래스)
# One-dimensional ndarray with axis labels
s = pd.Series([1, 3, -5, 7])
print(s)

0    1
1    3
2   -5
3    7
dtype: int64

In [4]:
print(type(s))

<class 'pandas.core.series.Series'>

In [5]:
print(s.index)

RangeIndex(start=0, stop=4, step=1)

In [6]:
print(s.values)  # Series.values: 저장된 값들(ndarray)

[ 1  3 -5  7]

In [7]:
# Series의 원소 접근 - 인덱스를 사용. indexing, slicing, ...
print(s[0])
# print(s[-1])  #> Error

1

In [9]:
print(s[1:3])

1    3
2   -5
dtype: int64

In [11]:
print(s[:3])

0    1
1    3
2   -5
dtype: int64

In [14]:
print(s[2:])

2   -5
3    7
dtype: int64

In [15]:
# fancy indexing - list, array와 같은 객체로 indexing
print(s[[0, 2]])

0    1
2   -5
dtype: int64

In [16]:
# boolean indexing - boolean들의 list(또는 array 또는 Series)로 indexing
print(s[[True, False, True, False]])

0    1
2   -5
dtype: int64

In [18]:
print(s > 0)

0     True
1     True
2    False
3     True
dtype: bool

In [19]:
print(s[s > 0])

0    1
1    3
3    7
dtype: int64

In [24]:
# Series.loc[label]: label-base location(index)
# Series.iloc[integer]: integer-base location(index)
s = pd.Series(data=[1, 3, -5, 7], index=['a', 'b', 'c', 'd'])
print(s)

a    1
b    3
c   -5
d    7
dtype: int64

In [27]:
print(s['a'], s[0])

1 1

In [30]:
print(s['d'], s[3], s[-1])

7 7 7

In [33]:
print(s.loc['a'])
# print(s.loc[0])  #> Error

1

In [36]:
print(s.iloc[0])
# print(s.iloc['a'])  #> Error

1

In [40]:
# slicing에서 loc와 iloc의 차이!!
print(s.loc['a':'c'])  #> s.loc['a']와 s.loc['c'] 모두 포함됨!

a    1
b    3
c   -5
dtype: int64

In [41]:
print(s.iloc[0:2])  #> 0 <= i < 2 범위 slicing. s.iloc[2]이 포함되지 않음!!

a    1
b    3
dtype: int64

In [45]:
s = pd.Series([1, 3, 5, 7, 9])
print(s)

print()
print(s.loc[1:3])

print()
print(s.iloc[1:3])

0    1
1    3
2    5
3    7
4    9
dtype: int64

1    3
2    5
3    7
dtype: int64

1    3
2    5
dtype: int64

In [48]:
print(s.loc[4], s.iloc[4], s.iloc[-1])

9 9 9

In [49]:
city_pop = {'서울': 10_000_000, '경기': 15_000_000, '인천': 1_000_000}  # dict
print(city_pop)

{'서울': 10000000, '경기': 15000000, '인천': 1000000}

In [51]:
s = pd.Series(data=city_pop)
print(s)
#> dict의 key가 Series의 index가 되고, dict의 values가 Series의 values가 됨.

서울    10000000
경기    15000000
인천     1000000
dtype: int64

In [53]:
# loc를 사용한 fancy indexing
print(s.loc[['경기', '서울']])

경기    15000000
서울    10000000
dtype: int64

In [54]:
# iloc를 사용한 fancy indexing
print(s.iloc[[1, 0]])

경기    15000000
서울    10000000
dtype: int64