<a href="https://colab.research.google.com/github/JakeOh/202011_itw_bd21/blob/main/lab_da/da05_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*   NumPy 패키지
    *   클래스: ndarray(n-dimensional array)
    *   배열(array) 또는 행렬(matrix)과 같은 숫자형 데이터들을 빠르게 연산.
*   pandas 패키지
    *   클래스: Series(1차원 데이터), DataFrame(2차원 데이터)
    *   표(table)와 같은 형태의 데이터를 분석, 정제, 조작하는 기능.
*   matplotlib 패키지
    *   시각화(visualization). 그래프.

In [1]:
# pandas 패키지 import
import pandas as pd

In [2]:
pd.__version__  # Colab에서 설치된 pandas 패키지의 버전

'1.1.5'

In [3]:
# pandas.Series: 한가지 타입의 값 여러개를 저장할 수 있는 1차원 모양의 데이터 타입(클래스)
# One-dimensional ndarray with axis labels
s = pd.Series([1, 3, -5, 7])
print(s)

0    1
1    3
2   -5
3    7
dtype: int64

In [4]:
print(type(s))

<class 'pandas.core.series.Series'>

In [5]:
print(s.index)

RangeIndex(start=0, stop=4, step=1)

In [6]:
print(s.values)  # Series.values: 저장된 값들(ndarray)

[ 1  3 -5  7]

In [7]:
# Series의 원소 접근 - 인덱스를 사용. indexing, slicing, ...
print(s[0])

1

In [9]:
print(s[1:3])

1    3
2   -5
dtype: int64

In [11]:
print(s[:3])

0    1
1    3
2   -5
dtype: int64

In [14]:
print(s[2:])

2   -5
3    7
dtype: int64