<a href="https://colab.research.google.com/github/JakeOh/202011_itw_bd21/blob/main/lab_da/da06_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd  # DataFrame
import seaborn as sns  # 예제 데이터 프레임. 시각화.

In [2]:
print('pandas version:', pd.__version__)
print('seaborn version:', sns.__version__)

pandas version: 1.1.5
seaborn version: 0.11.1

In [4]:
# seaborn 패키지의 tips 예제 데이터 셋을 로드
tips = sns.load_dataset('tips')
print(type(tips))

<class 'pandas.core.frame.DataFrame'>

*   tips 데이터 프레임의 row 개수, column 개수 출력

In [5]:
tips.shape

(244, 7)

*   tips 데이터 프레임의 컬럼 이름들을 출력

In [11]:
tips.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

*   tips 데이터 프레임의 첫 5개 row를 출력

In [12]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [13]:
tips.loc[:4]

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [15]:
tips.iloc[:5]

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

*   tips 데이터 프레임의 마지막 5개 row를 출력

In [16]:
tips.tail()

     total_bill   tip     sex smoker   day    time  size
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

In [17]:
tips.iloc[-5:]

     total_bill   tip     sex smoker   day    time  size
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

In [18]:
tips.loc[239:]  # tips.shape[0] - 5

     total_bill   tip     sex smoker   day    time  size
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

*   tips 데이터 프레임에서 total_bill 컬럼의 평균, 표준편차, 최솟값, 최댓값, 중앙값을 출력

In [19]:
bill = tips['total_bill']  # tips.total_bill
type(bill)

pandas.core.series.Series

In [21]:
print('mean:', bill.mean())
print('standard deviation:', bill.std())
print('max:', bill.max())
print('min:', bill.min())
print('median:', bill.median())

mean: 19.785942622950824
standard deviation: 8.902411954856856
max: 50.81
min: 3.07
median: 17.795

*   total_bill이 최댓값인 row를 출력

*   total_bill이 최솟값인 row를 출력