<a href="https://colab.research.google.com/github/JakeOh/202011_itw_bd21/blob/main/lab_da/da06_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd  # DataFrame
import seaborn as sns  # 예제 데이터 프레임. 시각화.

In [2]:
print('pandas version:', pd.__version__)
print('seaborn version:', sns.__version__)

pandas version: 1.1.5
seaborn version: 0.11.1

In [4]:
# seaborn 패키지의 tips 예제 데이터 셋을 로드
tips = sns.load_dataset('tips')
print(type(tips))

<class 'pandas.core.frame.DataFrame'>

*   tips 데이터 프레임의 row 개수, column 개수 출력

In [5]:
tips.shape

(244, 7)

*   tips 데이터 프레임의 컬럼 이름들을 출력

In [11]:
tips.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

*   tips 데이터 프레임의 첫 5개 row를 출력

In [12]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [13]:
tips.loc[:4]

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [15]:
tips.iloc[:5]

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

*   tips 데이터 프레임의 마지막 5개 row를 출력

In [16]:
tips.tail()

     total_bill   tip     sex smoker   day    time  size
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

In [17]:
tips.iloc[-5:]

     total_bill   tip     sex smoker   day    time  size
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

In [18]:
tips.loc[239:]  # tips.shape[0] - 5

     total_bill   tip     sex smoker   day    time  size
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

*   tips 데이터 프레임에서 total_bill 컬럼의 평균, 표준편차, 최솟값, 최댓값, 중앙값을 출력

In [19]:
bill = tips['total_bill']  # tips.total_bill
type(bill)

pandas.core.series.Series

In [21]:
print('mean:', bill.mean())
print('standard deviation:', bill.std())
print('max:', bill.max())
print('min:', bill.min())
print('median:', bill.median())

mean: 19.785942622950824
standard deviation: 8.902411954856856
max: 50.81
min: 3.07
median: 17.795

*   total_bill이 최댓값인 row를 출력

In [23]:
# boolean indexing
# tips[tips.total_bill == bill.max()]
tips[tips['total_bill'] == bill.max()]  #> DataFrame

     total_bill   tip   sex smoker  day    time  size
170       50.81  10.0  Male    Yes  Sat  Dinner     3

In [24]:
tips.iloc[170]  #> Series

total_bill     50.81
tip               10
sex             Male
smoker           Yes
day              Sat
time          Dinner
size               3
Name: 170, dtype: object

In [27]:
# fancy indexing: 인덱스 연산자([]) 안에 list, tuple, array, Series 등을 사용해서 indexing
tips.iloc[[170]]  #> DataFrame

     total_bill   tip   sex smoker  day    time  size
170       50.81  10.0  Male    Yes  Sat  Dinner     3

In [28]:
tips.iloc[[bill.argmax()]]

     total_bill   tip   sex smoker  day    time  size
170       50.81  10.0  Male    Yes  Sat  Dinner     3

*   total_bill이 최솟값인 row를 출력

In [30]:
# boolean indexing
# tips[tips['total_bill'] == tips['total_bill'].min()]
tips[tips.total_bill == tips.total_bill.min()]

    total_bill  tip     sex smoker  day    time  size
67        3.07  1.0  Female    Yes  Sat  Dinner     1

In [32]:
# fancy indexing
# tips.iloc[tips.total_bill.argmin()]  #> Series
tips.iloc[[tips.total_bill.argmin()]]  #> DataFrame

    total_bill  tip     sex smoker  day    time  size
67        3.07  1.0  Female    Yes  Sat  Dinner     1

*   숫자 타입 데이터 요약 - 기술 통계량(평균, 표준편차, 중앙값, 최솟값, 최댓값, 백분윗값)
*   카테고리 타입 데이터 요약 - 빈도수(frequency)

In [33]:
tips['day'].value_counts()

Sat     87
Sun     76
Thur    62
Fri     19
Name: day, dtype: int64

In [34]:
tips.time.value_counts()

Dinner    176
Lunch      68
Name: time, dtype: int64

In [35]:
tips.describe()  #> 숫자 타입 변수(컬럼)들의 기술 통계량 요약.

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

*  일요일의 tip의 평균

In [37]:
# 1) tips에서 day=='Sun'인 레코드
sunday = tips[tips['day'] == 'Sun']
sunday

     total_bill   tip     sex smoker  day    time  size
0         16.99  1.01  Female     No  Sun  Dinner     2
1         10.34  1.66    Male     No  Sun  Dinner     3
2         21.01  3.50    Male     No  Sun  Dinner     3
3         23.68  3.31    Male     No  Sun  Dinner     2
4         24.59  3.61  Female     No  Sun  Dinner     4
..          ...   ...     ...    ...  ...     ...   ...
186       20.90  3.50  Female    Yes  Sun  Dinner     3
187       30.46  2.00    Male    Yes  Sun  Dinner     5
188       18.15  3.50  Female    Yes  Sun  Dinner     3
189       23.10  4.00    Male    Yes  Sun  Dinner     3
190       15.69  1.50    Male    Yes  Sun  Dinner     2

[76 rows x 7 columns]

In [38]:
# 2) 1에서 찾은 데이터 프레임에서 tip 컬럼의 평균
sunday['tip'].mean()

3.255131578947369

In [39]:
tips[tips['day'] == 'Sun']['tip'].mean()

3.255131578947369

*   토요일의 tip의 평균

In [40]:
tips[tips.day == 'Sat'].tip.mean()

2.993103448275862