<a href="https://colab.research.google.com/github/JakeOh/202011_itw_bd21/blob/main/lab_da/da10_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
file_path = 'https://github.com/wesm/pydata-book/raw/2nd-edition/examples/ex1.csv'
ex1_df = pd.read_csv(file_path)
ex1_df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [3]:
type(ex1_df)

pandas.core.frame.DataFrame

In [4]:
ex1_df.shape

(3, 5)

In [5]:
ex1_df.columns

Index(['a', 'b', 'c', 'd', 'message'], dtype='object')

In [6]:
ex1_df.index

RangeIndex(start=0, stop=3, step=1)

In [7]:
ex1_df.dtypes
# pd.read_csv() 파일의 데이터들을 스스로 적절한 데이터 타입으로 변환.

a           int64
b           int64
c           int64
d           int64
message    object
dtype: object

In [8]:
# 엑셀 파일(xls xlsx)
file_path = 'https://github.com/wesm/pydata-book/raw/2nd-edition/examples/ex1.xlsx'
ex1_xlsx_df = pd.read_excel(file_path)
ex1_xlsx_df
# 엑셀 파일에서 첫번째 행은 컬럼 이름
# 엑셀 파일의 첫번째 컬럼은 데이터가 아니라 행 번호임.

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [10]:
ex1_xlsx_df = pd.read_excel(file_path, index_col=0)
ex1_xlsx_df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [13]:
# pd.read_csv() 함수는 CVS 파일의 첫번째 행을 컬럼 이름으로 생각함.
# 컬럼 이름이 없는 CSV 파일인 경우:
file_path = 'https://github.com/wesm/pydata-book/raw/2nd-edition/examples/ex2.csv'
ex2 = pd.read_csv(file_path, header=None)
ex2

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [16]:
ex2[4]  # DF에서 컬럼(변수) 선택

0    hello
1    world
2      foo
Name: 4, dtype: object

In [17]:
ex2 = pd.read_csv(file_path, header=None,
                  names=['a', 'b', 'c', 'd', 'msg'])
ex2

   a   b   c   d    msg
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [22]:
# 공백으로 구분된 txt 파일
# '\n': 줄바꿈(new line), '\t': 탭(tab), '\s': 공백(space)
file_path = 'https://github.com/wesm/pydata-book/raw/2nd-edition/examples/ex3.txt'
ex3 = pd.read_csv(file_path, sep=r'\s+')
#> sep=r'\s+': 한개 이상의 공백을 value들의 구분자로 사용.
ex3

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [23]:
ex3.shape
#> 파일에서 컬럼 이름이 없는 컬럼은 row의 index로 사용됨!

(4, 3)

In [25]:
# 데이터 이외에 파일에 대한 설명(주석)을 가지고 있는 CSV 파일
file_path = 'https://github.com/wesm/pydata-book/raw/2nd-edition/examples/ex4.csv'
ex4 = pd.read_csv(file_path, skiprows=(0, 2, 3))
ex4

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [26]:
# 파일의 value들이 따옴표("")로 묶여 있는 CSV 파일:
file_path = 'https://github.com/wesm/pydata-book/raw/2nd-edition/examples/ex7.csv'
ex7 = pd.read_csv(file_path)
ex7

   a  b  c
0  1  2  3
1  1  2  3

In [27]:
ex7.dtypes

a    int64
b    int64
c    int64
dtype: object

In [28]:
# pd.read_csv() 함수: CSV 파일 -> DataFrame
# DataFrame.to_csv() 메서드: DataFrame -> CSV 파일
ex7.to_csv('ex7.csv')

In [29]:
ex7.to_csv('ex7_2.csv', header=['Col_1', 'Col_2', 'Col_3'])

In [30]:
# tsv 파일
file_path = 'https://github.com/JakeOh/202011_itw_bd21/raw/main/datasets/gapminder.tsv'
gapminder = pd.read_csv(file_path, sep='\t')
gapminder

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

In [31]:
gapminder.shape

(1704, 6)

In [32]:
gapminder.columns

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

In [33]:
gapminder.describe()

             year      lifeExp           pop      gdpPercap
count  1704.00000  1704.000000  1.704000e+03    1704.000000
mean   1979.50000    59.474439  2.960121e+07    7215.327081
std      17.26533    12.917107  1.061579e+08    9857.454543
min    1952.00000    23.599000  6.001100e+04     241.165877
25%    1965.75000    48.198000  2.793664e+06    1202.060309
50%    1979.50000    60.712500  7.023596e+06    3531.846989
75%    1993.25000    70.845500  1.958522e+07    9325.462346
max    2007.00000    82.603000  1.318683e+09  113523.132900

In [ ]:
# gapminder DF에 있는 (중복되지 않는) 국가 이름의 개수

In [ ]:
# gapminder DF에 있는 (중복되지 않는) 대륙 이름의 개수

In [ ]:
# 중복되지 않는 모든 연도

In [ ]:
# gapminder DF에서 국가, 연도, 1인당 GDP 컬럼을 선택

In [ ]:
# gpminder DF에서 1인당 GDP의 최솟값, 최댓값

In [ ]:
# 1인당 GDP가 최소/최대인 row를 찾으세요.

In [ ]:
# 평균기대수명의 최솟값/최댓값

In [ ]:
# 평균기대수명이 최소/최대인 row를 찾으세요.

In [ ]:
# 연도별 lifeExp의 평균 출력

In [ ]:
# 연도별 lifeExp의 평균을 시각화

In [ ]:
# 연도별 gpdPercap의 평균 출력

In [ ]:
# 연도별 gdpPercapd의 평균을 시각화

In [ ]:
# 연도별 전세계 인구 출력

In [ ]:
# 연도별 전세계 인구 시각화

In [ ]:
# 연도별 대륙별 전세계 인구 출력

In [ ]:
# 연도별 대륙별 전세계 인구 시각화