<a href="https://colab.research.google.com/github/JakeOh/202011_itw_bd21/blob/main/lab_da/da11_str.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

DataFrame의 문자열 데이터 컬럼 다루기

In [1]:
import pandas as pd

In [2]:
file_path = 'https://github.com/wesm/pydata-book/raw/2nd-edition/datasets/movielens/movies.dat'

In [11]:
movies = pd.read_csv(file_path, 
                     sep='::',           # 구분자
                     encoding='cp1252',  # 영문 MS Windows에서 작성된 텍스트 파일 인코딩 타입
                     header=None,        # 파일의 첫번째 라인부터 데이터. 헤더 정보 없음.
                     names=['movie_id', 'title', 'genres'],  # 컬럼 이름 설정.
                     engine='python')    # ParserWarning을 제거
# 한글 MS Windows의 기본 인코딩: cp949

In [12]:
movies.head()

   movie_id                               title                        genres
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

In [13]:
movies.tail()

      movie_id                       title          genres
3878      3948     Meet the Parents (2000)          Comedy
3879      3949  Requiem for a Dream (2000)           Drama
3880      3950            Tigerland (2000)           Drama
3881      3951     Two Family House (2000)           Drama
3882      3952       Contender, The (2000)  Drama|Thriller

In [14]:
movies.shape

(3883, 3)

In [15]:
# 장르가 Animation인 영화 몇 개? (hint: str.contains() 사용)
animations = movies[movies['genres'].str.contains('Animation')]
len(animations)

105

In [17]:
animations

      movie_id  ...                                genres
0            1  ...           Animation|Children's|Comedy
12          13  ...                  Animation|Children's
47          48  ...  Animation|Children's|Musical|Romance
236        239  ...   Animation|Children's|Comedy|Romance
241        244  ...                  Animation|Children's
...        ...  ...                                   ...
3690      3759  ...          Animation|Children's|Musical
3706      3775  ...          Animation|Children's|Musical
3707      3776  ...          Animation|Children's|Musical
3730      3799  ...                  Animation|Children's
3875      3945  ...        Adventure|Animation|Children's

[105 rows x 3 columns]

In [18]:
# 장르가 로맨틱 코미디(Romance & Comedy)인 영화는 몇 개?
romance_comedy = movies[movies['genres'].str.contains('Romance') &
                        movies['genres'].str.contains('Comedy')]
len(romance_comedy)

204

In [19]:
romance_comedy

      movie_id                           title                genres
2            3         Grumpier Old Men (1995)        Comedy|Romance
6            7                  Sabrina (1995)        Comedy|Romance
10          11  American President, The (1995)  Comedy|Drama|Romance
38          39                 Clueless (1995)        Comedy|Romance
63          64            Two if by Sea (1996)        Comedy|Romance
...        ...                             ...                   ...
3679      3748               Match, The (1999)        Comedy|Romance
3759      3829          Mad About Mambo (2000)        Comedy|Romance
3804      3874     Couch in New York, A (1996)        Comedy|Romance
3815      3885               Love & Sex (2000)        Comedy|Romance
3839      3909             Woman on Top (2000)        Comedy|Romance

[204 rows x 3 columns]