<a href="https://colab.research.google.com/github/JakeOh/202011_itw_bd21/blob/main/lab_da/da14_index.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

# 단일 계층 인덱스

In [2]:
s = pd.Series(data=np.arange(1, 7),
              index=['a', 'b', 'c'] * 2)
s

a    1
b    2
c    3
a    4
b    5
c    6
dtype: int64

In [3]:
s.index  # pd.Series 객체의 index 속성

Index(['a', 'b', 'c', 'a', 'b', 'c'], dtype='object')

In [4]:
s.index.nlevels  # pd.Index 객체의 nlevels 속성

1

In [5]:
# pd.Series 또는 pd.DataFrame의 인덱스는 중복된 값이 있을 수 있음.
s.loc['a']

a    1
a    4
dtype: int64

# 계층적 색인(Hierarchical Index)

In [6]:
s = pd.Series(data=np.arange(10, 70, 10),
              index=[['a', 'a', 'b', 'b', 'c', 'c'], 
                     [1, 2, 3, 1, 2, 3]])
s

a  1    10
   2    20
b  3    30
   1    40
c  2    50
   3    60
dtype: int64

In [7]:
s.index

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 3),
            ('b', 1),
            ('c', 2),
            ('c', 3)],
           )

In [8]:
s.index.nlevels

2

*   nlevels의 값이 2 이상인 경우 loc 사용 방법:
    *   첫번째 레벨의 인덱스만 가지고 인덱싱 가능
    *   두번째 레벨의 인덱스만으로는 인덱싱 불가능!
    *   다중 레벨 인덱스는 튜플 형태로 인덱싱 사용

In [9]:
s.loc['a']

1    10
2    20
dtype: int64

In [11]:
# s.loc[1]
#> KeyError 발생

In [12]:
s.loc[('a', 1)]

10

In [13]:
s

a  1    10
   2    20
b  3    30
   1    40
c  2    50
   3    60
dtype: int64

In [14]:
s.loc['a':'b']  # slicing

a  1    10
   2    20
b  3    30
   1    40
dtype: int64

In [15]:
s.loc['b':'c']

b  3    30
   1    40
c  2    50
   3    60
dtype: int64

In [17]:
# s.loc[('a', 1):('b', 3)]
#> UnsortedIndexError 발생

In [18]:
s.loc[[('a', 1), ('b', 1)]]  # fancy indexing: 리스트를 이용한 인덱싱

a  1    10
b  1    40
dtype: int64

In [19]:
# swaplevel() 메서드: 인덱스의 레벨을 바꿔줌.
s

a  1    10
   2    20
b  3    30
   1    40
c  2    50
   3    60
dtype: int64

In [20]:
s.swaplevel()

1  a    10
2  a    20
3  b    30
1  b    40
2  c    50
3  c    60
dtype: int64

In [21]:
s.swaplevel().loc[1]

a    10
b    40
dtype: int64

In [22]:
s

a  1    10
   2    20
b  3    30
   1    40
c  2    50
   3    60
dtype: int64

In [27]:
# sort_index(): 인덱스를 정렬해줌.
s.swaplevel().sort_index()

1  a    10
   b    40
2  a    20
   c    50
3  b    30
   c    60
dtype: int64

In [28]:
s.swaplevel().sort_index().loc[1:2]
# chain call(연쇄 호출)

1  a    10
   b    40
2  a    20
   c    50
dtype: int64

# DataFrame의 Multi-Index

*   row multi-index

In [32]:
df = pd.DataFrame(data=np.arange(1, 19).reshape((6, 3)),
                  columns=['A', 'B', 'C'],                       # columns=컬럼 인덱스(이름)
                  index=[['a', 'a', 'b', 'b', 'c', 'c'],         # index=행 인덱스
                         ['a1', 'a2', 'b1', 'b2', 'c1', 'c2']])
df

       A   B   C
a a1   1   2   3
  a2   4   5   6
b b1   7   8   9
  b2  10  11  12
c c1  13  14  15
  c2  16  17  18

In [33]:
df.index  # pd.DataFrame 객체의 index 속성: row index

MultiIndex([('a', 'a1'),
            ('a', 'a2'),
            ('b', 'b1'),
            ('b', 'b2'),
            ('c', 'c1'),
            ('c', 'c2')],
           )

In [34]:
df.columns  # pd.DataFrame 객체의 columns 속성: column index

Index(['A', 'B', 'C'], dtype='object')

In [35]:
df.index.nlevels  # pd.Index 객체의 nlevels 속성: 인덱스 레벨의 개수

2

In [36]:
df.columns.nlevels

1

In [38]:
df.loc['a']  # indexing: row 선택

    A  B  C
a1  1  2  3
a2  4  5  6

In [40]:
df.loc['a':'b']  # slicing

       A   B   C
a a1   1   2   3
  a2   4   5   6
b b1   7   8   9
  b2  10  11  12

In [41]:
df.loc[('a', 'a1')]

A    1
B    2
C    3
Name: (a, a1), dtype: int64

In [43]:
df.swaplevel()

       A   B   C
a1 a   1   2   3
a2 a   4   5   6
b1 b   7   8   9
b2 b  10  11  12
c1 c  13  14  15
c2 c  16  17  18

In [45]:
df.swaplevel().loc['a1']  # indexing

   A  B  C
a  1  2  3

In [44]:
df.swaplevel().loc['a1':'b1']  # slicing

      A  B  C
a1 a  1  2  3
a2 a  4  5  6
b1 b  7  8  9

In [47]:
df.loc[['a', 'c']]  # list indexing - fancy indexing

       A   B   C
a a1   1   2   3
  a2   4   5   6
c c1  13  14  15
  c2  16  17  18

In [49]:
df.swaplevel().loc[['a1', 'b1']]

      A  B  C
a1 a  1  2  3
b1 b  7  8  9