<a href="https://colab.research.google.com/github/JakeOh/202011_itw_bd21/blob/main/lab_da/da18_movielens.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# MovieLens 영화 별점 분석

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

##  데이터 프레임 생성

*   https://github.com/wesm/pydata-book/tree/2nd-edition/datasets/movielens 사이트의 3개 데이터 파일을 읽어서 데이터 프레임을 생성
*   ratings와 movies를 merge
*   위에서 merge된 내용과 users를 merge

In [2]:
# 파일이 저장된 github 주소
movies_data = 'https://github.com/wesm/pydata-book/raw/2nd-edition/datasets/movielens/movies.dat'
ratings_data = 'https://github.com/wesm/pydata-book/raw/2nd-edition/datasets/movielens/ratings.dat'
users_data = 'https://github.com/wesm/pydata-book/raw/2nd-edition/datasets/movielens/users.dat'

In [3]:
# 데이터 특성(features)/변수(variables)/컬럼 이름(column names)
movie_cols = ['movie_id', 'title', 'genres']
rating_cols = ['user_id', 'movie_id', 'rating', 'timestamp']
user_cols = ['user_id', 'gender', 'age', 'occupation', 'zip_code']

In [7]:
movies = pd.read_csv(movies_data, sep='::', encoding='cp1252',
                     header=None, names=movie_cols, engine='python')

In [8]:
movies.head()

   movie_id                               title                        genres
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

In [9]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3883 entries, 0 to 3882
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  3883 non-null   int64
 1   title     3883 non-null   object
 2   genres    3883 non-null   object
dtypes: int64(1), object(2)
memory usage: 91.1+ KB

In [10]:
ratings = pd.read_csv(ratings_data, sep='::', encoding='cp1252',
                      header=None, names=rating_cols, engine='python')

In [12]:
ratings.head()

   user_id  movie_id  rating  timestamp
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968
3        1      3408       4  978300275
4        1      2355       5  978824291

In [13]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000209 entries, 0 to 1000208
Data columns (total 4 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   user_id    1000209 non-null  int64
 1   movie_id   1000209 non-null  int64
 2   rating     1000209 non-null  int64
 3   timestamp  1000209 non-null  int64
dtypes: int64(4)
memory usage: 30.5 MB

In [15]:
users = pd.read_csv(users_data, sep='::', encoding='cp1252',
                    header=None, names=user_cols, engine='python')

In [16]:
users.head()

   user_id gender  age  occupation zip_code
0        1      F    1          10    48067
1        2      M   56          16    70072
2        3      M   25          15    55117
3        4      M   45           7    02460
4        5      M   25          20    55455

In [17]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6040 entries, 0 to 6039
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   user_id     6040 non-null   int64
 1   gender      6040 non-null   object
 2   age         6040 non-null   int64
 3   occupation  6040 non-null   int64
 4   zip_code    6040 non-null   object
dtypes: int64(3), object(2)
memory usage: 236.1+ KB

In [18]:
df = pd.merge(left=pd.merge(left=ratings, right=movies),
              right=users)

In [19]:
df.head()

   user_id  movie_id  rating  timestamp  ... gender age occupation  zip_code
0        1      1193       5  978300760  ...      F   1         10     48067
1        1       661       3  978302109  ...      F   1         10     48067
2        1       914       3  978301968  ...      F   1         10     48067
3        1      3408       4  978300275  ...      F   1         10     48067
4        1      2355       5  978824291  ...      F   1         10     48067

[5 rows x 10 columns]

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000209 entries, 0 to 1000208
Data columns (total 10 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   user_id     1000209 non-null  int64
 1   movie_id    1000209 non-null  int64
 2   rating      1000209 non-null  int64
 3   timestamp   1000209 non-null  int64
 4   title       1000209 non-null  object
 5   genres      1000209 non-null  object
 6   gender      1000209 non-null  object
 7   age         1000209 non-null  int64
 8   occupation  1000209 non-null  int64
 9   zip_code    1000209 non-null  object
dtypes: int64(6), object(4)
memory usage: 83.9+ MB

In [21]:
df['rating'].describe()

count    1.000209e+06
mean     3.581564e+00
std      1.117102e+00
min      1.000000e+00
25%      3.000000e+00
50%      4.000000e+00
75%      4.000000e+00
max      5.000000e+00
Name: rating, dtype: float64

*   평점 평균 상위 10개 영화 제목

In [24]:
# 영화 제목별 rating의 평균 -> (내림차순) 정렬 -> 상위 10개
rating_by_title = df.groupby('title')['rating'].mean()
rating_by_title  #> Series

title
$1,000,000 Duck (1971)                        3.027027
'Night Mother (1986)                          3.371429
'Til There Was You (1997)                     2.692308
'burbs, The (1989)                            2.910891
...And Justice for All (1979)                 3.713568
                                                ...
Zed & Two Noughts, A (1985)                   3.413793
Zero Effect (1998)                            3.750831
Zero Kelvin (Kjærlighetens kjøtere) (1995)    3.500000
Zeus and Roxanne (1997)                       2.521739
eXistenZ (1999)                               3.256098
Name: rating, Length: 3706, dtype: float64

In [30]:
rating_by_title.sort_values(ascending=False).head(n=10)

title
Gate of Heavenly Peace, The (1995)           5.0
Lured (1947)                                 5.0
Ulysses (Ulisse) (1954)                      5.0
Smashing Time (1967)                         5.0
Follow the Bitch (1998)                      5.0
Song of Freedom (1936)                       5.0
Bittersweet Motel (2000)                     5.0
Baby, The (1973)                             5.0
One Little Indian (1973)                     5.0
Schlafes Bruder (Brother of Sleep) (1995)    5.0
Name: rating, dtype: float64

*   평점 평균 하위 10개 영화 제목

In [35]:
rating_by_title.sort_values().head(n=10)

title
Elstree Calling (1930)                                        1.0
Get Over It (1996)                                            1.0
Venice/Venice (1992)                                          1.0
Windows (1980)                                                1.0
Kestrel's Eye (Falkens öga) (1998)                            1.0
McCullochs, The (1975)                                        1.0
Sleepover (1995)                                              1.0
Torso (Corpi Presentano Tracce di Violenza Carnale) (1973)    1.0
Spring Fever USA (a.k.a. Lauderdale) (1989)                   1.0
Santa with Muscles (1996)                                     1.0
Name: rating, dtype: float64

In [36]:
df.groupby('title')['rating'].agg(['count', 'mean']).sort_values(by='mean', ascending=False).head(10)

                                           count  mean
title
Ulysses (Ulisse) (1954)                        1   5.0
Lured (1947)                                   1   5.0
Follow the Bitch (1998)                        1   5.0
Bittersweet Motel (2000)                       1   5.0
Song of Freedom (1936)                         1   5.0
One Little Indian (1973)                       1   5.0
Smashing Time (1967)                           2   5.0
Schlafes Bruder (Brother of Sleep) (1995)      1   5.0
Gate of Heavenly Peace, The (1995)             3   5.0
Baby, The (1973)                               1   5.0

*   성별(남성/여성) 평점 평균 상위 10개 영화 제목

In [37]:
rating_by_title_gender = df.groupby(['title', 'gender'])['rating'].mean()
rating_by_title_gender

title                                       gender
$1,000,000 Duck (1971)                      F         3.375000
                                            M         2.761905
'Night Mother (1986)                        F         3.388889
                                            M         3.352941
'Til There Was You (1997)                   F         2.675676
                                                        ...
Zero Kelvin (Kjærlighetens kjøtere) (1995)  M         3.500000
Zeus and Roxanne (1997)                     F         2.777778
                                            M         2.357143
eXistenZ (1999)                             F         3.098592
                                            M         3.289086
Name: rating, Length: 7152, dtype: float64

In [38]:
# multi-index -> columns: unstack
rating_by_title_gender.unstack()

gender                                             F         M
title
$1,000,000 Duck (1971)                      3.375000  2.761905
'Night Mother (1986)                        3.388889  3.352941
'Til There Was You (1997)                   2.675676  2.733333
'burbs, The (1989)                          2.793478  2.962085
...And Justice for All (1979)               3.828571  3.689024
...                                              ...       ...
Zed & Two Noughts, A (1985)                 3.500000  3.380952
Zero Effect (1998)                          3.864407  3.723140
Zero Kelvin (Kjærlighetens kjøtere) (1995)       NaN  3.500000
Zeus and Roxanne (1997)                     2.777778  2.357143
eXistenZ (1999)                             3.098592  3.289086

[3706 rows x 2 columns]

In [39]:
rating_by_title_gender = df.pivot_table(values='rating', index='title', columns='gender')
rating_by_title_gender

gender                                             F         M
title
$1,000,000 Duck (1971)                      3.375000  2.761905
'Night Mother (1986)                        3.388889  3.352941
'Til There Was You (1997)                   2.675676  2.733333
'burbs, The (1989)                          2.793478  2.962085
...And Justice for All (1979)               3.828571  3.689024
...                                              ...       ...
Zed & Two Noughts, A (1985)                 3.500000  3.380952
Zero Effect (1998)                          3.864407  3.723140
Zero Kelvin (Kjærlighetens kjøtere) (1995)       NaN  3.500000
Zeus and Roxanne (1997)                     2.777778  2.357143
eXistenZ (1999)                             3.098592  3.289086

[3706 rows x 2 columns]

In [41]:
# 여성 평점 상위 10개 제목
rating_by_title_gender.sort_values(by='F', ascending=False).head(n=10)

gender                                               F         M
title
Clean Slate (Coup de Torchon) (1981)               5.0  3.857143
Ballad of Narayama, The (Narayama Bushiko) (1958)  5.0  3.428571
Raw Deal (1948)                                    5.0  3.307692
Bittersweet Motel (2000)                           5.0       NaN
Skipped Parts (2000)                               5.0  4.000000
Lamerica (1994)                                    5.0  4.666667
Gambler, The (A Játékos) (1997)                    5.0  3.166667
Brother, Can You Spare a Dime? (1975)              5.0  3.642857
Ayn Rand: A Sense of Life (1997)                   5.0  4.000000
24 7: Twenty Four Seven (1997)                     5.0  3.750000

In [42]:
# 남성 평점 상위 10개 영화 제목
rating_by_title_gender.sort_values(by='M', ascending=False).head(n=10)

gender                                            F    M
title
Schlafes Bruder (Brother of Sleep) (1995)       NaN  5.0
Small Wonders (1996)                       3.333333  5.0
Gate of Heavenly Peace, The (1995)         5.000000  5.0
Baby, The (1973)                                NaN  5.0
Ulysses (Ulisse) (1954)                         NaN  5.0
Dangerous Game (1993)                      4.000000  5.0
Angela (1995)                              3.000000  5.0
Bells, The (1926)                          4.000000  5.0
Smashing Time (1967)                            NaN  5.0
Follow the Bitch (1998)                         NaN  5.0

*   1~2명의 사용자가 아니라 많은 사용자들로부터 평가를 받은 영화들 중에서 평점 순위
    *   영화별 평가 숫자
    *   많은 사용자 평가 기준

In [44]:
title_counts = df['title'].value_counts()
title_counts

American Beauty (1999)                                                   3428
Star Wars: Episode IV - A New Hope (1977)                                2991
Star Wars: Episode V - The Empire Strikes Back (1980)                    2990
Star Wars: Episode VI - Return of the Jedi (1983)                        2883
Jurassic Park (1993)                                                     2672
                                                                         ...
Silence of the Palace, The (Saimt el Qusur) (1994)                          1
Even Dwarfs Started Small (Auch Zwerge haben klein angefangen) (1971)       1
Superweib, Das (1996)                                                       1
Beloved/Friend (Amigo/Amado) (1999)                                         1
Jar, The (Khomreh) (1992)                                                   1
Name: title, Length: 3706, dtype: int64

In [45]:
title_counts.describe()

count    3706.000000
mean      269.889099
std       384.047838
min         1.000000
25%        33.000000
50%       123.500000
75%       350.000000
max      3428.000000
Name: title, dtype: float64

In [46]:
# 사용자들로부터 평가를 가장 많이 받은 영화 상위 20개
title_counts.head(n=20)

American Beauty (1999)                                   3428
Star Wars: Episode IV - A New Hope (1977)                2991
Star Wars: Episode V - The Empire Strikes Back (1980)    2990
Star Wars: Episode VI - Return of the Jedi (1983)        2883
Jurassic Park (1993)                                     2672
Saving Private Ryan (1998)                               2653
Terminator 2: Judgment Day (1991)                        2649
Matrix, The (1999)                                       2590
Back to the Future (1985)                                2583
Silence of the Lambs, The (1991)                         2578
Men in Black (1997)                                      2538
Raiders of the Lost Ark (1981)                           2514
Fargo (1996)                                             2513
Sixth Sense, The (1999)                                  2459
Braveheart (1995)                                        2443
Shakespeare in Love (1998)                               2369
Princess Bride, The (1987)                               2318
Schindler's List (1993)                                  2304
L.A. Confidential (1997)                                 2288
Groundhog Day (1993)                                     2278
Name: title, dtype: int64

In [49]:
# 150명 이상의 사용자들로부터 평가를 받은 영화 제목들
indexer = title_counts[title_counts >= 150].index
indexer

Index(['American Beauty (1999)', 'Star Wars: Episode IV - A New Hope (1977)',
       'Star Wars: Episode V - The Empire Strikes Back (1980)',
       'Star Wars: Episode VI - Return of the Jedi (1983)',
       'Jurassic Park (1993)', 'Saving Private Ryan (1998)',
       'Terminator 2: Judgment Day (1991)', 'Matrix, The (1999)',
       'Back to the Future (1985)', 'Silence of the Lambs, The (1991)',
       ...
       'Specialist, The (1994)', 'Program, The (1993)', 'Twelfth Night (1996)',
       'Cowboy Way, The (1994)',
       'Tales from the Crypt Presents: Bordello of Blood (1996)',
       'Love and Death on Long Island (1997)', 'In the Army Now (1994)',
       'Golden Voyage of Sinbad, The (1974)', 'Asphalt Jungle, The (1950)',
       'Police Academy 5: Assignment: Miami Beach (1988)'],
      dtype='object', length=1683)

In [56]:
# 150회 이상 평가를 받은 영화들의 평점 평균
rating_by_title.loc[indexer]

American Beauty (1999)                                   4.317386
Star Wars: Episode IV - A New Hope (1977)                4.453694
Star Wars: Episode V - The Empire Strikes Back (1980)    4.292977
Star Wars: Episode VI - Return of the Jedi (1983)        4.022893
Jurassic Park (1993)                                     3.763847
                                                           ...
Love and Death on Long Island (1997)                     3.430464
In the Army Now (1994)                                   2.225166
Golden Voyage of Sinbad, The (1974)                      3.397351
Asphalt Jungle, The (1950)                               3.927152
Police Academy 5: Assignment: Miami Beach (1988)         1.766667
Name: rating, Length: 1683, dtype: float64

In [57]:
# 상위 20개
rating_by_title.loc[indexer].sort_values(ascending=False).head(n=20)

Seven Samurai (The Magnificent Seven) (Shichinin no samurai) (1954)            4.560510
Shawshank Redemption, The (1994)                                               4.554558
Godfather, The (1972)                                                          4.524966
Close Shave, A (1995)                                                          4.520548
Usual Suspects, The (1995)                                                     4.517106
Schindler's List (1993)                                                        4.510417
Wrong Trousers, The (1993)                                                     4.507937
Sunset Blvd. (a.k.a. Sunset Boulevard) (1950)                                  4.491489
Raiders of the Lost Ark (1981)                                                 4.477725
Rear Window (1954)                                                             4.476190
Paths of Glory (1957)                                                          4.473913
Star Wars: Episode IV - A New Hope (1977)                                      4.453694
Third Man, The (1949)                                                          4.452083
Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1963)    4.449890
Wallace & Gromit: The Best of Aardman Animation (1996)                         4.426941
To Kill a Mockingbird (1962)                                                   4.425647
Double Indemnity (1944)                                                        4.415608
Casablanca (1942)                                                              4.412822
Sixth Sense, The (1999)                                                        4.406263
Yojimbo (1961)                                                                 4.404651
Name: rating, dtype: float64

In [58]:
rating_by_title.loc[indexer].sort_values().head(n=10)

Battlefield Earth (2000)                            1.611111
Baby Geniuses (1999)                                1.701220
Police Academy 5: Assignment: Miami Beach (1988)    1.766667
Stop! Or My Mom Will Shoot (1992)                   1.782123
Jaws 3-D (1983)                                     1.852381
Speed 2: Cruise Control (1997)                      1.871935
Spice World (1997)                                  1.873684
Super Mario Bros. (1993)                            1.874286
Home Alone 3 (1997)                                 1.876623
Superman IV: The Quest for Peace (1987)             1.888554
Name: rating, dtype: float64

In [60]:
rating_by_title_gender.loc[indexer]

gender                                                     F         M
American Beauty (1999)                              4.238901  4.347301
Star Wars: Episode IV - A New Hope (1977)           4.302937  4.495307
Star Wars: Episode V - The Empire Strikes Back ...  4.106481  4.344577
Star Wars: Episode VI - Return of the Jedi (1983)   3.865237  4.069058
Jurassic Park (1993)                                3.579407  3.814197
...                                                      ...       ...
Love and Death on Long Island (1997)                3.116279  3.555556
In the Army Now (1994)                              2.384615  2.192000
Golden Voyage of Sinbad, The (1974)                 3.157895  3.431818
Asphalt Jungle, The (1950)                          3.571429  4.008130
Police Academy 5: Assignment: Miami Beach (1988)    1.935484  1.722689

[1683 rows x 2 columns]

In [62]:
# 여성 평점 상위 10개
rating_by_title_gender.loc[indexer].sort_values(by='F', ascending=False).head(n=10)

gender                                                     F         M
Close Shave, A (1995)                               4.644444  4.473795
Wrong Trousers, The (1993)                          4.588235  4.478261
General, The (1927)                                 4.575758  4.329480
Sunset Blvd. (a.k.a. Sunset Boulevard) (1950)       4.572650  4.464589
Wallace & Gromit: The Best of Aardman Animation...  4.563107  4.385075
Schindler's List (1993)                             4.562602  4.491415
Grand Illusion (Grande illusion, La) (1937)         4.560976  4.266129
Shawshank Redemption, The (1994)                    4.539075  4.560625
Grand Day Out, A (1992)                             4.537879  4.293255
To Kill a Mockingbird (1962)                        4.536667  4.372611

In [63]:
# 남성 평점 순위 상위 10개
rating_by_title_gender.loc[indexer].sort_values(by='M', ascending=False).head(n=10)

gender                                                     F         M
Godfather, The (1972)                               4.314700  4.583333
Seven Samurai (The Magnificent Seven) (Shichini...  4.481132  4.576628
Shawshank Redemption, The (1994)                    4.539075  4.560625
Raiders of the Lost Ark (1981)                      4.332168  4.520597
Usual Suspects, The (1995)                          4.513317  4.518248
Star Wars: Episode IV - A New Hope (1977)           4.302937  4.495307
Schindler's List (1993)                             4.562602  4.491415
Paths of Glory (1957)                               4.392857  4.485149
Wrong Trousers, The (1993)                          4.588235  4.478261
Close Shave, A (1995)                               4.644444  4.473795

*   성별 선호도 차이