<a href="https://colab.research.google.com/github/JakeOh/202011_itw_bd21/blob/main/lab_da/da21_category.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 카테고리 타입 데이터(Categorical Data)

In [1]:
import numpy as np
import pandas as pd

In [2]:
gender = pd.Series(['M', 'F', 'F', 'M', 'F'])
gender
#> dtype: object - Series가 저장하고 있는 데이터들의 타입은 문자열

0    M
1    F
2    F
3    M
4    F
dtype: object

In [5]:
# astype(newType) 메서드: 데이터 타입을 newType 타입으로 변환한 새로운 시리즈를 리턴.
gender2 = gender.astype('category')
gender2

0    M
1    F
2    F
3    M
4    F
dtype: category
Categories (2, object): ['F', 'M']

In [6]:
gender

0    M
1    F
2    F
3    M
4    F
dtype: object

In [7]:
age = pd.Series([1, 18, 25, 35, 18, 18, 25, 25, 35])
age
#> dtype: int64 - 정수 타입을 저장하고 있는 시리즈

0     1
1    18
2    25
3    35
4    18
5    18
6    25
7    25
8    35
dtype: int64

In [8]:
age2 = age.astype('category')
age2

0     1
1    18
2    25
3    35
4    18
5    18
6    25
7    25
8    35
dtype: category
Categories (4, int64): [1, 18, 25, 35]

In [10]:
# 시리즈를 생성할 때 category 타입으로 생성
s = pd.Series(data=['a', 'b', 'a', 'a'], dtype='category')
s

0    a
1    b
2    a
3    a
dtype: category
Categories (2, object): ['a', 'b']

In [11]:
np.random.seed(1)

df = pd.DataFrame({'fruit': ['apple', 'banana', 'apple'] * 2,
                   'count': np.random.randint(5, 15, 6),
                   'weight': np.random.uniform(1.0, 5.0, 6)})
df

    fruit  count    weight
0   apple     10  2.586323
1  banana     13  2.551643
2   apple     14  3.678984
3   apple     10  4.742156
4  banana      5  4.385244
5   apple      5  2.253094

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   fruit   6 non-null      object
 1   count   6 non-null      int64
 2   weight  6 non-null      float64
dtypes: float64(1), int64(1), object(1)
memory usage: 272.0+ bytes

In [19]:
df['fruit'] = df['fruit'].astype('category')

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   fruit   6 non-null      category
 1   count   6 non-null      int64
 2   weight  6 non-null      float64
dtypes: category(1), float64(1), int64(1)
memory usage: 326.0 bytes