<a href="https://colab.research.google.com/github/JakeOh/202011_itw_bd21/blob/main/lab_da/da22_json.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import json  # 파이썬의 기본 모듈 중 하나 - json 읽기/쓰기 기능

**JSON**

*   JSON(JavaScript Object Notation): 자바스크립트 객체 표현법
*   `{key1: value1, key2: value2, ...}` 같은 형식의 문자열
*   파이썬의 dict 클래스 타입과 비슷
*   json 모듈: JSON 형식 문자열 <---> dict 타입 객체

In [2]:
# json.dumps(obj): 파이썬 객체(obj)를 JSON 형식의 문자열로 변환해서 리턴 - Serialize(직렬화)
person = {'name': '홍길동', 'age': 16, 'height': 195.5}
person  #> dict 클래스의 __repr__() 메서드가 리턴하는 문자열이 콘솔에 출력.

{'age': 16, 'height': 195.5, 'name': '홍길동'}

In [3]:
type(person)  #> 파이썬 dict 클래스 타입의 객체

dict

In [4]:
person_json = json.dumps(person)
person_json  #> json.dumps() 함수가 리턴해준 문자열을 콘솔에 출력

'{"name": "\\ud64d\\uae38\\ub3d9", "age": 16, "height": 195.5}'

In [5]:
# json.loads(s): JSON 형식의 문자열 s를 파이썬 객체로 변환해서 리턴 - Deserialize(역직렬화)
result = json.loads(person_json)
result

{'age': 16, 'height': 195.5, 'name': '홍길동'}

In [6]:
type(result)

dict


*   `json.dump(obj, fp)`: 파이썬 객체 obj를 JSON 형식의 문자열로 변환(serialize)해서 파일 fp에 write
*   `json.load(fp)`: 파일 fp에서 문자열(JSON 형식)을 읽어서 파이썬 객체로 변환(deserialze)해서 리턴.
*   `json.dumps(obj)`: 파이썬 객체 obj를 JSON 형식의 문자열로 변환(serialize)해서 리턴.
*   `json.loads(s)`: 문자열 s(JSON 형식)를 파이썬 객체로 변환(deserialize)해서 리턴.

In [7]:
with open('person.json', mode='w') as f:  # 파일을 쓰기 모드로 오픈
    f.write(person_json)  # 파일에 문자열을 씀

In [9]:
with open('person.json', mode='r') as f:  # 파일을 읽기 모드로 오픈
    line = f.readline()  # 파일의 첫번째 줄을 읽음.
    print(line)
    obj = json.loads(line)  # 읽은 문자열을 파이썬 객체로 변환
    print(obj)

{"name": "\ud64d\uae38\ub3d9", "age": 16, "height": 195.5}
{'name': '홍길동', 'age': 16, 'height': 195.5}

In [12]:
with open('movie.json', mode='w') as f:
    # Python dict 객체
    m1 = {'mid': 1, 'title': '미나리', 'genre': 'Drama'}
    m2 = {'mid': 2, 'title': '승리호', 'genre': 'SF'}
    m3 = {'mid': 3, 'title': '인턴'}
    # JSON 형식의 문자열
    m1_s = json.dumps(m1)
    m2_s = json.dumps(m2)
    m3_s = json.dumps(m3)
    # 파일에 쓰기
    f.write(m1_s + '\n')
    f.write(m2_s + '\n')
    f.write(m3_s + '\n')

In [14]:
with open('movie.json', mode='r') as f:
    data = []  # 파일에서 읽은 내용을 저장할 리스트
    for line in f:  # 파일에서 한 줄씩 읽으면서
        obj = json.loads(line)  # 문자열을 파이썬 객체로 변환(deseialize)
        print(obj)
        data.append(obj)  # 리스트에 추가
    # data = [json.loads(line) for line in f]

{'mid': 1, 'title': '미나리', 'genre': 'Drama'}
{'mid': 2, 'title': '승리호', 'genre': 'SF'}
{'mid': 3, 'title': '인턴'}

In [15]:
data

[{'genre': 'Drama', 'mid': 1, 'title': '미나리'},
 {'genre': 'SF', 'mid': 2, 'title': '승리호'},
 {'mid': 3, 'title': '인턴'}]

In [16]:
df = pd.DataFrame(data)
df

   mid title  genre
0    1   미나리  Drama
1    2   승리호     SF
2    3    인턴    NaN



---


*   https://github.com/wesm/pydata-book/blob/2nd-edition/datasets/bitly_usagov/example.txt 파일을 다운로드
*   다운로드한 파일을 Colab 세션 저장소에 업로드
*   파일을 읽기 모드로 오픈
*   파일에서 첫번째 줄부터 마지막 줄까지 한 줄씩 읽으면서
*   읽은 문자열을 파이썬 dict 객체로 변환하고 리스트에 추가(append)

In [18]:
with open('example.txt', mode='r') as f:
    records = [json.loads(line) for line in f]
    print(len(records))

3560

In [19]:
df = pd.DataFrame(records)
df.head()
#> usa.gov 사이트를 접속한 클라이언트에 대한 정보들을 가지고 있는 파일

                                                   a   c  ...  _heartbeat_   kw
0  Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...  US  ...          NaN  NaN
1                             GoogleMaps/RochesterNY  US  ...          NaN  NaN
2  Mozilla/4.0 (compatible; MSIE 8.0; Windows NT ...  US  ...          NaN  NaN
3  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_6_8)...  BR  ...          NaN  NaN
4  Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...  US  ...          NaN  NaN

[5 rows x 18 columns]

In [20]:
df.tail()

                                                      a   c  ...  _heartbeat_   kw
3555  Mozilla/4.0 (compatible; MSIE 9.0; Windows NT ...  US  ...          NaN  NaN
3556  Mozilla/5.0 (Windows NT 5.1) AppleWebKit/535.1...  US  ...          NaN  NaN
3557                             GoogleMaps/RochesterNY  US  ...          NaN  NaN
3558                                     GoogleProducer  US  ...          NaN  NaN
3559  Mozilla/4.0 (compatible; MSIE 8.0; Windows NT ...  US  ...          NaN  NaN

[5 rows x 18 columns]

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3560 entries, 0 to 3559
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   a            3440 non-null   object
 1   c            2919 non-null   object
 2   nk           3440 non-null   float64
 3   tz           3440 non-null   object
 4   gr           2919 non-null   object
 5   g            3440 non-null   object
 6   h            3440 non-null   object
 7   l            3440 non-null   object
 8   al           3094 non-null   object
 9   hh           3440 non-null   object
 10  r            3440 non-null   object
 11  u            3440 non-null   object
 12  t            3440 non-null   float64
 13  hc           3440 non-null   float64
 14  cy           2919 non-null   object
 15  ll           2919 non-null   object
 16  _heartbeat_  120 non-null    float64
 17  kw           93 non-null     object
dtypes: float64(4), object(14)
memory usage: 500.8+ KB