<a href="https://colab.research.google.com/github/JakeOh/202011_itw_bd21/blob/main/lab_python/python02_variable.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python 데이터 타입(Data Type)



*   숫자 타입:
    * int: 정수
    * float: 실수
*   논리 타입(bool): True/False
*   문자열 타입(str)
*   NoneType: 값이 없음을 나타내는 데이터 타입. None

In [3]:
# 변수 n에 정수 100을 저장
n = 100
print(n)
print(type(n))  # type(x): 값, 변수 x의 데이터 타입을 반환.

100
<class 'int'>

In [5]:
pi = 3.141592  # 대입문(assignment statement). 할당문
print(pi)
print(type(pi))

3.141592
<class 'float'>

In [8]:
s1 = 'hello'
s2 = "안녕"
print(s1, type(s1))
print(s2, type(s2))
# Python은 문자열을 표기할 때 큰따옴표("") 또는 작은따옴표('')를 사용함.

hello <class 'str'>
안녕 <class 'str'>

## 명시적 타입 변환(explicit type conversion)

* int(값): 값 -> 정수. 정수로 변환될 수 없는 값이 argument로 전달되면 에러가 발생함.
* float(값): 값 -> 실수.
* str(값): 값 -> 문자열.

In [9]:
age = '16'
print(type(age))

<class 'str'>

In [16]:
age2 = int('16')
print(age2, type(age2))

16 <class 'int'>

In [17]:
pi = float('3.141592')
print(pi, type(pi))

3.141592 <class 'float'>

## 산술 연산자: `+, -, *, /, **, //, %`

* 산술 연산자들은 숫자 타입(int, float) 타입의 값 또는 변수에서 사용할 수 있음.

In [19]:
n1 = input('정수를 입력하세요>>> ')  # 입력받은 값을 변수 n1에 저장. n1의 타입은 str.
n1 = int(n1)  # n1에 저장된 값을 정수 타입으로 변환 후 저장.
n2 = int(input('정수를 입력하세요>>> '))
print(n1 - n2)

정수를 입력하세요>>> 100
정수를 입력하세요>>> 90
10

* 문자열(str) 타입에서는 `+, *`가 사용될 수 있음.
    * `+`: concatenate. 문자열 이어 붙이기.
    * `*`: replicate. 문자열 복제.

In [20]:
print('Hello' + 'Python')  # 문자열 + 문자열

HelloPython

In [21]:
print('Hello' * 5)  # 문자열 * 정수

HelloHelloHelloHelloHello

* 논리(bool) 타입: True 또는 False를 저장하는 타입
    * bool 타입의 변수들을 산술 연산을 하면, True는 1로 False는 0으로 변환된 후 산술 연산이 수행됨.
    * 암시적 타입 변환(implicit type conversion): 개발자가 int()와 같은 함수를 사용해서 명시적으로 타입 변환을 하지 않아도, 프로그램 언어에서 자동으로 타입 변환을 수행하는 것.

In [27]:
print(type(True))

<class 'bool'>

In [31]:
# implicit type conversion
print(True + True)  # True + True -> 1 + 1 -> 2
print(True + False)  # True + False -> 1 + 0 -> 1
print(True * True)
print(True * False)

2
1
1
0

* bool 타입 값, 변수들과 사용되는 연산자들
    * ***비교연산자***: `==, !=, >, >=, <, <=`
    * ***논리연산자***: and, or, not

In [38]:
x = 123
print(x == 100)
print(x != 100)
print(x >= 100)

False
True
True

In [40]:
print((x > 100) and (x < 150))
print((x > 100) and (x < 120))
print((x > 100) or (x < 120))

True
False
True

## NoneType

In [45]:
x = None  # R에서 NA(Not Available)와 비슷한 역할.
print(x, type(x))

None <class 'NoneType'>

In [ ]:
# input 함수를 이용해서 정수(integer) 2개를 입력받고 저장.
# 두 정수의 합(+), 차(-), 곱(*), 나누기결과(/), 나눈 몫(//), 나눈 나머지(%), 거듭제곱(**)의 결과를 출력
# (예) 1 + 2 = 3