<a href="https://colab.research.google.com/github/JakeOh/202011_itw_bd21/blob/main/lab_python/python30_class_ex.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*   Account 클래스 - 은행 계좌
    *   속성:
        *   계좌번호(account_no): str
        *   잔액(balance): number
    *   기능:
        *   입금(deposit)
        *   출금(withdraw)
        *   조회(info)
        *   이체(transfer)
    *   magic method:
        *   `__repr__()`: Account(No.=123-456) 형태 출력
        *   `__eq__()`: 계좌번호가 일치하면 True, 계좌번호가 다르면 False

In [1]:
class Account:
    def __init__(self, account_no, balance=0):
        self.account_no = account_no
        self.balance = balance

    def __repr__(self):
        return f'Account(No.={self.account_no})'

    def __eq__(self, other):
        # account1 == account2 -> account1.__eq__(account2) -> T/F 
        if not isinstance(other, Account):
            return False
        return self.account_no == other.account_no

    def info(self):
        print('Account No.:', self.account_no)
        print('Balance:', self.balance)

    def deposit(self, amount):
        self.balance += amount

    def withdraw(self, amount):
        self.balance -= amount

    def transfer(self, amount, to):
        # 이체: (1) 내 계좌 출금, (2) 상대방 계좌 입금
        self.withdraw(amount)
        to.deposit(amount)

In [12]:
account1 = Account(account_no='123-456')  # Account 클래스의 인스턴스 생성
print(account1)  # __repr__() 메서드 테스트

Account(No.=123-456)

In [13]:
account2 = Account(account_no='123-789', balance=1000)
print(account2)

Account(No.=123-789)

In [14]:
print(account1 == account2)  # __eq__() 메서드 테스트

False

In [15]:
account1.deposit(10_000)  # account1 계좌에 10,000원을 입금.
account1.info()

Account No.: 123-456
Balance: 10000

In [16]:
account1.withdraw(1_000)  # account1 계좌에서 1,000원을 출금.
account1.info()

Account No.: 123-456
Balance: 9000

In [17]:
account1.transfer(5_000, account2)
account1.info()
account2.info()

Account No.: 123-456
Balance: 4000
Account No.: 123-789
Balance: 6000