<a href="https://colab.research.google.com/github/JakeOh/202011_itw_bd21/blob/main/lab_python/python38_csv_module.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CSV 모듈을 사용한 tsv(tab-separated values) 파일 읽기/쓰기

In [1]:
texts = '''2021-01-28\tAPL\t1500
2021-01-28\tBBB\t2000
2021-01-28\tCCC\t1700
2021-01-29\tAPL\t2000
2021-01-29\tBBB\t1900
2021-01-29\tCCC\t1600
'''

with open(file='prices.tsv', mode='w') as f:
    f.write(texts)

*   csv 모듈을 사용
*   csv.reader()를 사용해서 prices.tsv 파일을 읽고 2차원 리스트를 생성.
*   csv.writer()를 사용해서 2차원 리스트를 csv 파일로 저장.

In [2]:
import csv

In [3]:
with open('prices.tsv', mode='r') as f:
    reader = csv.reader(f, delimiter='\t')
    prices = [row for row in reader]

prices

[['2021-01-28', 'APL', '1500'],
 ['2021-01-28', 'BBB', '2000'],
 ['2021-01-28', 'CCC', '1700'],
 ['2021-01-29', 'APL', '2000'],
 ['2021-01-29', 'BBB', '1900'],
 ['2021-01-29', 'CCC', '1600']]

In [4]:
with open('prices.csv', mode='w') as f:
    writer = csv.writer(f)
    writer.writerows(prices)

In [6]:
with open('prices.txt', mode='w') as f:
    writer = csv.writer(f, delimiter=':')
    writer.writerows(prices)

# csv 모듈 연습

1. apt_201910.csv 파일을 구글 드라이브에 업로드
2. Colab에서 구글 드라이브를 마운트
3. CSV 파일을 읽어서 2차원 리스트를 생성
    *   한글 Windows OS의 인코딩 방식으로 저장된 파일
    *   파일을 open할 때 인코딩 방식을 'cp949'로 설정
4. 3번에서 생성된 2차원 리스트에서 숫자로 변환할 수 있는 값들은 모두 숫자로 변환

In [7]:
file_path = '/content/drive/MyDrive/Colab Notebooks/lab_python/apt_201910.csv'

In [12]:
with open(file_path, mode='r', encoding='cp949') as f:
    reader = csv.reader(f)
    apt_data = [row for row in reader]

apt_data[:5]

[['시군구',
  '번지',
  '본번',
  '부번',
  '단지명',
  '면적',
  '계약년월',
  '계약일',
  '가격',
  '층',
  '건축년도',
  '도로명'],
 ['강원도 강릉시 견소동',
  '202',
  '202',
  '0',
  '송정한신',
  '59.8',
  '201910',
  '4',
  '10,900',
  '5',
  '1997',
  '경강로2539번길 8'],
 ['강원도 강릉시 견소동',
  '202',
  '202',
  '0',
  '송정한신',
  '116.175',
  '201910',
  '31',
  '18,500',
  '10',
  '1997',
  '경강로2539번길 8'],
 ['강원도 강릉시 견소동',
  '289',
  '289',
  '0',
  '송정해변신도브래뉴아파트',
  '84.99',
  '201910',
  '5',
  '25,000',
  '6',
  '2005',
  '경강로2539번길 22'],
 ['강원도 강릉시 견소동',
  '289',
  '289',
  '0',
  '송정해변신도브래뉴아파트',
  '84.99',
  '201910',
  '12',
  '20,600',
  '3',
  '2005',
  '경강로2539번길 22']]

In [13]:
apt_data[-5:]

[['충청북도 충주시 호암동',
  '547-6',
  '547',
  '6',
  '호반현대',
  '59.76',
  '201910',
  '29',
  '7,000',
  '3',
  '1994',
  '신촌2길 28'],
 ['충청북도 충주시 호암동',
  '221-23',
  '221',
  '23',
  '호암리버빌(1단지)',
  '84.68',
  '201910',
  '5',
  '12,000',
  '15',
  '2002',
  '원호암5길 32'],
 ['충청북도 충주시 호암동',
  '221-23',
  '221',
  '23',
  '호암리버빌(1단지)',
  '84.68',
  '201910',
  '15',
  '11,000',
  '7',
  '2002',
  '원호암5길 32'],
 ['충청북도 충주시 호암동',
  '221-23',
  '221',
  '23',
  '호암리버빌(1단지)',
  '84.68',
  '201910',
  '17',
  '12,000',
  '14',
  '2002',
  '원호암5길 32'],
 ['충청북도 충주시 호암동',
  '221-23',
  '221',
  '23',
  '호암리버빌(1단지)',
  '84.68',
  '201910',
  '26',
  '11,200',
  '11',
  '2002',
  '원호암5길 32']]

In [15]:
for i, row in enumerate(apt_data):
    for j, y in enumerate(row):
        try:
            # 값을 정수로 변환해 보고 에러가 없으면, 변환된 정수를 그 위치(인덱스)에 저장.
            apt_data[i][j] = int(val.replace(',', ''))
        except:
            # 정수로 변환 도중에 에러가 발생하면
            try:
                # 실수로 변환해 보고 에러가 없으면, 변환된 실수를 그 위치에 저장.
                apt_data[i][j] = float(val.replace(',', ''))
            except:
                # 실수로도 변환이 안 되면 아무 일도 하지 않음.
                pass

apt_data[:5]

[['시군구',
  '번지',
  '본번',
  '부번',
  '단지명',
  '면적',
  '계약년월',
  '계약일',
  '가격',
  '층',
  '건축년도',
  '도로명'],
 ['강원도 강릉시 견소동',
  202,
  202,
  0,
  '송정한신',
  59.8,
  201910,
  4,
  10900,
  5,
  1997,
  '경강로2539번길 8'],
 ['강원도 강릉시 견소동',
  202,
  202,
  0,
  '송정한신',
  116.175,
  201910,
  31,
  18500,
  10,
  1997,
  '경강로2539번길 8'],
 ['강원도 강릉시 견소동',
  289,
  289,
  0,
  '송정해변신도브래뉴아파트',
  84.99,
  201910,
  5,
  25000,
  6,
  2005,
  '경강로2539번길 22'],
 ['강원도 강릉시 견소동',
  289,
  289,
  0,
  '송정해변신도브래뉴아파트',
  84.99,
  201910,
  12,
  20600,
  3,
  2005,
  '경강로2539번길 22']]

5. 가격이 최댓값인 레코드를 출력
    *   가격의 최댓값을 찾음
    *   전체 데이터에서 가격이 최댓값과 일치하는 레코드들을 찾아서 출력

In [19]:
# apt_data에서 컬럼 이름을 제외하고, '가격'만 1차원 리스트로 생성
prices = [row[8] for row in apt_data[1:]]
max_price = max(prices)
max_price

485000

In [21]:
apt_max_price = [apt_data[0]]
for row in apt_data[1:]:
    if row[8] == max_price:
        apt_max_price.append(row)

apt_max_price

[['시군구',
  '번지',
  '본번',
  '부번',
  '단지명',
  '면적',
  '계약년월',
  '계약일',
  '가격',
  '층',
  '건축년도',
  '도로명'],
 ['서울특별시 용산구 한남동',
  810,
  810,
  0,
  '한남더힐',
  233.062,
  201910,
  24,
  485000,
  4,
  2011,
  '독서당로 111']]

6. 가격이 최솟값이 레코들을 찾아서 출력

In [ ]:
# TODO

7. 2차원 리스트 apt_data에서 '시군구', '단지명', '면적', '가격', '층', '건축년도' 6개의 컬럼 선택한 2차원 리스트를 생성

In [ ]:
# TODO

8. '시군구'가 '강원도'이고, '가격'이 30,000 이상인 레코드들을 찾으세요.
    *    7번에서 생성한 2차원 리스트를 사용.

In [ ]:
# TODO

9. 시군구가 서울이고, 30,000 <= 가격 < 50,000인 레코드들을 찾으세요.
    *   7번에서 생성한 2차원 리스트를 사용.

In [ ]:
# TODO