<a href="https://colab.research.google.com/github/JakeOh/202011_itw_bd21/blob/main/lab_python/python27_class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*   Score 클래스
    *   속성(attribute): 국어, 영어, 수학 점수
    *   기능(functionality): 
        *   calculate_sum(): 세 과목의 총점 반환
        *   calculate_mean(): 세 과목의 평균 반환

In [9]:
class Score:

    def __init__(self, kor=0, eng=0, math=0):
        self.kor = kor
        self.eng = eng
        self.math = math

    def calculate_sum(self):
        return self.kor + self.eng + self.math

    def calculate_mean(self):
        # return (self.kor + self.eng + self.math) / 3
        return self.calculate_sum() / 3

*   Student 클래스
    *   속성: 학생 이름, 시험 성적(Score 객체)
    *   기능:
        *   info(): 학생 이름, 세 과목 점수, 총점, 평균을 출력.

In [10]:
class Student:

    def __init__(self, name, kor=0, eng=0, math=0):
        self.name = name
        self.score = Score(kor, eng, math)

    def info(self):
        print('이름:', self.name)
        print('국어:', self.score.kor)
        print('영어:', self.score.eng)
        print('수학:', self.score.math)
        print('총점:', self.score.calculate_sum())
        print('평균:', self.score.calculate_mean())

Score 클래스 테스트

In [11]:
# Score 클래스의 인스턴스 생성
score1 = Score(kor=100, eng=90, math=50)
print(f'kor={score1.kor}, eng={score1.eng}, math={score1.math}')

kor=100, eng=90, math=50

In [12]:
print('score1 총점:', score1.calculate_sum())
print('score1 평균:', score1.calculate_mean())

score1 총점: 240
score1 평균: 80.0

Student 클래스 테스트

In [13]:
# Student 클래스의 인스턴스 생성
stu1 = Student(name='홍길동', kor=90, eng=50, math=99)
print(f'이름: {stu1.name}, 점수: {stu1.score}')

이름: 홍길동, 점수: <__main__.Score object at 0x7f025d73c400>

In [14]:
stu1.info()

이름: 홍길동
국어: 90
영어: 50
수학: 99
총점: 239
평균: 79.66666666666667

In [15]:
class Student2:

    def __init__(self, name, score):
        self.name = name
        self.score = score

    def info(self):
        print('이름:', self.name)
        print('국어:', self.score.kor)
        print('영어:', self.score.eng)
        print('수학:', self.score.math)
        print('총점:', self.score.calculate_sum())
        print('평균:', self.score.calculate_mean())

In [17]:
stu2 = Student2(name='허균', score=Score(100, 99, 95))
stu2.info()

이름: 허균
국어: 100
영어: 99
수학: 95
총점: 294
평균: 98.0