<a href="https://colab.research.google.com/github/JakeOh/202011_itw_bd21/blob/main/lab_python/python35_csv_file.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. 구글 드라이브 마운트
2. csv_exam.csv 파일의 경로를 복사
3. csv_exam.csv 파일을 읽기 모드로 open
4. 파일에서 첫번째 줄을 읽고 아무 동작없이 건너뜀.
5. 두번째 줄부터 파일 끝까지 한 줄씩 읽으면서 반복
6. 각 줄의 내용을 쉼표(',')로 분리한 리스트를 exam 빈 리스트에 append.
>   `[[1,1,50,98,50], [2,1,60,97,60], [3,1,45,86,78], ...]`
7. 2차원 리스트 exam에서 수학 점수들로만 이루어진 1차원 리스트 math를 생성.
>   `[50, 60, 45, ...]`
8. 1반 학생들의 수학 점수의 총점, 평균, 최댓값, 최솟값을 찾으세요.(sum, min, max 함수 이용)

In [1]:
file_path = '/content/drive/MyDrive/Colab Notebooks/lab_python/csv_exam.csv'  # 절대 경로

In [3]:
file_path2 = 'drive/MyDrive/Colab Notebooks/lab_python/csv_exam.csv'  # 상대 경로

In [7]:
with open(file=file_path2, mode='r') as f:
    f.readline()  # 파일의 첫번째 줄을 읽고 건너뜀.

    exam = []  # 파일에서 한 줄씩 읽을 때마다, 읽은 데이터를 저장할 리스트
    for line in f:  # 파일 f에서 한 줄씩 읽으면서 반복
        # 읽은 줄에서 시작과 끝의 공백 문자를 제거하고, 쉼표(,)로 문자열들을 분리
        data = line.strip().split(sep=',')  #> 문자열 1차원 리스트
        exam.append(data)

print(exam)

[['1', '1', '50', '98', '50'], ['2', '1', '60', '97', '60'], ['3', '1', '45', '86', '78'], ['4', '1', '30', '98', '58'], ['5', '2', '25', '80', '65'], ['6', '2', '50', '89', '98'], ['7', '2', '80', '90', '45'], ['8', '2', '90', '78', '25'], ['9', '3', '20', '98', '15'], ['10', '3', '50', '98', '45'], ['11', '3', '65', '65', '65'], ['12', '3', '45', '85', '32'], ['13', '4', '46', '98', '65'], ['14', '4', '48', '87', '12'], ['15', '4', '75', '56', '78'], ['16', '4', '58', '98', '65'], ['17', '5', '65', '68', '98'], ['18', '5', '80', '78', '90'], ['19', '5', '89', '68', '87'], ['20', '5', '78', '83', '58']]

In [9]:
with open(file=file_path, mode='r') as f:
    f.readline()
    exam = [line.strip().split(sep=',') for line in f]

print(exam)

[['1', '1', '50', '98', '50'], ['2', '1', '60', '97', '60'], ['3', '1', '45', '86', '78'], ['4', '1', '30', '98', '58'], ['5', '2', '25', '80', '65'], ['6', '2', '50', '89', '98'], ['7', '2', '80', '90', '45'], ['8', '2', '90', '78', '25'], ['9', '3', '20', '98', '15'], ['10', '3', '50', '98', '45'], ['11', '3', '65', '65', '65'], ['12', '3', '45', '85', '32'], ['13', '4', '46', '98', '65'], ['14', '4', '48', '87', '12'], ['15', '4', '75', '56', '78'], ['16', '4', '58', '98', '65'], ['17', '5', '65', '68', '98'], ['18', '5', '80', '78', '90'], ['19', '5', '89', '68', '87'], ['20', '5', '78', '83', '58']]

2차원 리스트 exam의 모든 원소들을 int 타입으로 변환

In [10]:
for row in exam:
    for x in row:
        x = int(x)

print(exam)  #> 리스트에서는 값의 변화가 없음.

[['1', '1', '50', '98', '50'], ['2', '1', '60', '97', '60'], ['3', '1', '45', '86', '78'], ['4', '1', '30', '98', '58'], ['5', '2', '25', '80', '65'], ['6', '2', '50', '89', '98'], ['7', '2', '80', '90', '45'], ['8', '2', '90', '78', '25'], ['9', '3', '20', '98', '15'], ['10', '3', '50', '98', '45'], ['11', '3', '65', '65', '65'], ['12', '3', '45', '85', '32'], ['13', '4', '46', '98', '65'], ['14', '4', '48', '87', '12'], ['15', '4', '75', '56', '78'], ['16', '4', '58', '98', '65'], ['17', '5', '65', '68', '98'], ['18', '5', '80', '78', '90'], ['19', '5', '89', '68', '87'], ['20', '5', '78', '83', '58']]

In [11]:
for i, row in enumerate(exam):
    for j, x in enumerate(row):
        exam[i][j] = int(x)

print(exam)  #> exam의 모든 원소가 int 타입으로 변환됨.

[[1, 1, 50, 98, 50], [2, 1, 60, 97, 60], [3, 1, 45, 86, 78], [4, 1, 30, 98, 58], [5, 2, 25, 80, 65], [6, 2, 50, 89, 98], [7, 2, 80, 90, 45], [8, 2, 90, 78, 25], [9, 3, 20, 98, 15], [10, 3, 50, 98, 45], [11, 3, 65, 65, 65], [12, 3, 45, 85, 32], [13, 4, 46, 98, 65], [14, 4, 48, 87, 12], [15, 4, 75, 56, 78], [16, 4, 58, 98, 65], [17, 5, 65, 68, 98], [18, 5, 80, 78, 90], [19, 5, 89, 68, 87], [20, 5, 78, 83, 58]]

In [14]:
# math = []
# for score in exam:
#     math.append(score[2])
math = [score[2] for score in exam]

print(math)

[50, 60, 45, 30, 25, 50, 80, 90, 20, 50, 65, 45, 46, 48, 75, 58, 65, 80, 89, 78]

In [16]:
# math_class1 = []
# for score in exam:
#     if score[1] == 1:
#         math_class1.append(score[2])
math_class1 = [score[2] for score in exam if score[1] == 1]

print(math_class1)

[50, 60, 45, 30]

In [17]:
print('sum:', sum(math_class1))
print('mean:', sum(math_class1) / len(math_class1))
print('max:', max(math_class1))
print('min:', min(math_class1))

sum: 185
mean: 46.25
max: 60
min: 30

Score 클래스

*   속성: `id, class, math, english, science`
*   메서드: `__init__, __repr__`

In [20]:
class Score:
    def __init__(self, id, cls, math, english, science):
        self.id = id
        self.cls = cls
        self.math = math
        self.english = english
        self.science = science

    def __repr__(self):
        return f'Score(id={self.id}, class={self.cls}, math={self.math}, english={self.english}, science={self.science})'

In [21]:
s = Score(1, 1, 50, 60, 55)
print(s)

Score(id=1, class=1, math=50, english=60, science=55)

csv_exam.csv 파일을 읽으면서, Score 타입의 객체를 저장하는 리스트 exam을 생성.

In [22]:
exam = []

with open(file=file_path2, mode='r') as f:
    f.readline()  # CSV 파일의 헤더(컬럼 이름)을 제거
    for line in f:
        data = line.strip().split(sep=',')  #> 문자열 5개를 저장하고 있는 리스트
        score = Score(int(data[0]), int(data[1]), int(data[2]), int(data[3]), int(data[4]))
        exam.append(score)

print(exam)

[Score(id=1, class=1, math=50, english=98, science=50), Score(id=2, class=1, math=60, english=97, science=60), Score(id=3, class=1, math=45, english=86, science=78), Score(id=4, class=1, math=30, english=98, science=58), Score(id=5, class=2, math=25, english=80, science=65), Score(id=6, class=2, math=50, english=89, science=98), Score(id=7, class=2, math=80, english=90, science=45), Score(id=8, class=2, math=90, english=78, science=25), Score(id=9, class=3, math=20, english=98, science=15), Score(id=10, class=3, math=50, english=98, science=45), Score(id=11, class=3, math=65, english=65, science=65), Score(id=12, class=3, math=45, english=85, science=32), Score(id=13, class=4, math=46, english=98, science=65), Score(id=14, class=4, math=48, english=87, science=12), Score(id=15, class=4, math=75, english=56, science=78), Score(id=16, class=4, math=58, english=98, science=65), Score(id=17, class=5, math=65, english=68, science=98), Score(id=18, class=5, math=80, english=78, science=90), Score(id=19, class=5, math=89, english=68, science=87), Score(id=20, class=5, math=78, english=83, science=58)]

In [24]:
# math = []
# for s in exam:
#     math.append(s.math)
math = [s.math for s in exam]

print(math)

[50, 60, 45, 30, 25, 50, 80, 90, 20, 50, 65, 45, 46, 48, 75, 58, 65, 80, 89, 78]

In [26]:
# math_class1 = []
# for s in exam:
#     if s.cls == 1:
#         math_class1.append(s.math)
math_class1 = [s.math for s in exam if s.cls == 1]

print(math_class1)

[50, 60, 45, 30]

In [27]:
exam

[Score(id=1, class=1, math=50, english=98, science=50),
 Score(id=2, class=1, math=60, english=97, science=60),
 Score(id=3, class=1, math=45, english=86, science=78),
 Score(id=4, class=1, math=30, english=98, science=58),
 Score(id=5, class=2, math=25, english=80, science=65),
 Score(id=6, class=2, math=50, english=89, science=98),
 Score(id=7, class=2, math=80, english=90, science=45),
 Score(id=8, class=2, math=90, english=78, science=25),
 Score(id=9, class=3, math=20, english=98, science=15),
 Score(id=10, class=3, math=50, english=98, science=45),
 Score(id=11, class=3, math=65, english=65, science=65),
 Score(id=12, class=3, math=45, english=85, science=32),
 Score(id=13, class=4, math=46, english=98, science=65),
 Score(id=14, class=4, math=48, english=87, science=12),
 Score(id=15, class=4, math=75, english=56, science=78),
 Score(id=16, class=4, math=58, english=98, science=65),
 Score(id=17, class=5, math=65, english=68, science=98),
 Score(id=18, class=5, math=80, english=78, science=90),
 Score(id=19, class=5, math=89, english=68, science=87),
 Score(id=20, class=5, math=78, english=83, science=58)]


*   `sorted(list, key, reverse)`: key를 기준으로 list를 정렬(오름차순:reverse=False, 내림차순: reverse=True)한 새로운 리스트를 리턴. 원본 리스트를 변경하지 않음.
*   `list.sort(key, reverse)`: key를 기준으로 list를 정렬함. 원본 리스트가 변경됨. None이 리턴됨.

In [29]:
# exam 리스트를 수학점수 내림차순으로 정렬
sorted(exam, key=lambda x: x.math, reverse=True)

[Score(id=8, class=2, math=90, english=78, science=25),
 Score(id=19, class=5, math=89, english=68, science=87),
 Score(id=7, class=2, math=80, english=90, science=45),
 Score(id=18, class=5, math=80, english=78, science=90),
 Score(id=20, class=5, math=78, english=83, science=58),
 Score(id=15, class=4, math=75, english=56, science=78),
 Score(id=11, class=3, math=65, english=65, science=65),
 Score(id=17, class=5, math=65, english=68, science=98),
 Score(id=2, class=1, math=60, english=97, science=60),
 Score(id=16, class=4, math=58, english=98, science=65),
 Score(id=1, class=1, math=50, english=98, science=50),
 Score(id=6, class=2, math=50, english=89, science=98),
 Score(id=10, class=3, math=50, english=98, science=45),
 Score(id=14, class=4, math=48, english=87, science=12),
 Score(id=13, class=4, math=46, english=98, science=65),
 Score(id=3, class=1, math=45, english=86, science=78),
 Score(id=12, class=3, math=45, english=85, science=32),
 Score(id=4, class=1, math=30, english=98, science=58),
 Score(id=5, class=2, math=25, english=80, science=65),
 Score(id=9, class=3, math=20, english=98, science=15)]

In [30]:
# exam 리스트를 cls -> math 오름차순 정렬
sorted(exam, key=lambda x: (x.cls, x.math))

[Score(id=4, class=1, math=30, english=98, science=58),
 Score(id=3, class=1, math=45, english=86, science=78),
 Score(id=1, class=1, math=50, english=98, science=50),
 Score(id=2, class=1, math=60, english=97, science=60),
 Score(id=5, class=2, math=25, english=80, science=65),
 Score(id=6, class=2, math=50, english=89, science=98),
 Score(id=7, class=2, math=80, english=90, science=45),
 Score(id=8, class=2, math=90, english=78, science=25),
 Score(id=9, class=3, math=20, english=98, science=15),
 Score(id=12, class=3, math=45, english=85, science=32),
 Score(id=10, class=3, math=50, english=98, science=45),
 Score(id=11, class=3, math=65, english=65, science=65),
 Score(id=13, class=4, math=46, english=98, science=65),
 Score(id=14, class=4, math=48, english=87, science=12),
 Score(id=16, class=4, math=58, english=98, science=65),
 Score(id=15, class=4, math=75, english=56, science=78),
 Score(id=17, class=5, math=65, english=68, science=98),
 Score(id=20, class=5, math=78, english=83, science=58),
 Score(id=18, class=5, math=80, english=78, science=90),
 Score(id=19, class=5, math=89, english=68, science=87)]