<a href="https://colab.research.google.com/github/JakeOh/202011_itw_bd21/blob/main/lab_python/python11_list_comprehension.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# List Comprehension

1 이상 10 이하의 정수들을 리스트에 추가

In [1]:
numbers = []  # empty list
for x in range(1, 11):
    numbers.append(x)

print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
numbers2 = [x for x in range(1, 11)]  # list comprehension
print(numbers2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

10 이하의 양의 정수들 중에서 짝수들을 리스트에 추가

In [3]:
# for loop + append()
evens = []
for n in range(2, 11, 2):
    evens.append(n)

print(evens)

[2, 4, 6, 8, 10]

In [4]:
# list comprehension
evens = [n for n in range(2, 11, 2)]
print(evens)

[2, 4, 6, 8, 10]

In [5]:
evens = []
for n in range(1, 6):
    evens.append(n * 2)
print(evens)

[2, 4, 6, 8, 10]

In [6]:
evens = [n * 2 for n in range(1, 6)]
print(evens)

[2, 4, 6, 8, 10]

1 ~ 5 숫자들의 제곱을 리스트에 추가: `[1, 4, 9, 16, 25]`

In [7]:
squares = []
for x in range(1, 6):
    squares.append(x ** 2)
print(squares)

[1, 4, 9, 16, 25]

In [9]:
squares = [x ** 2 for x in range(1, 6)]
print(squares)

[1, 4, 9, 16, 25]

0 이상 100 이하인 정수 난수 10개를 리스트에 저장.

In [10]:
import random

In [11]:
random.seed(1)

rands = []
for _ in range(10):
    rands.append(random.randrange(0, 101))

print(rands)

[17, 72, 97, 8, 32, 15, 63, 97, 57, 60]

In [12]:
random.seed(1)
rands = [random.randrange(0, 101) for _ in range(10)]
print(rands)

[17, 72, 97, 8, 32, 15, 63, 97, 57, 60]

## if 문장이 list comprehension 함께 사용되는 경우

1 ~ 10까지 정수들 중에서 짝수들을 리스트에 추가

In [13]:
evens = []
for x in range(1, 11):
    if x % 2 == 0:
        evens.append(x)

print(evens)

[2, 4, 6, 8, 10]

In [14]:
evens = [x for x in range(1, 11) if x % 2 == 0]
print(evens)

[2, 4, 6, 8, 10]

In [15]:
print(rands)

[17, 72, 97, 8, 32, 15, 63, 97, 57, 60]

난수 10개를 저장하고 있는 리스트 rands에서 짝수들로만 이루어진 새로운 리스트를 만들고 출력.

In [16]:
evens = []
for x in rands:
    if x % 2 == 0:
        evens.append(x)
print(evens)

[72, 8, 32, 60]

In [17]:
evens = [x for x in rands if x % 2 == 0]
print(evens)

[72, 8, 32, 60]

난수 10개를 저장하고 있는 리스트 rands에서 홀수들로만 이루어진 새로운 리스트를 만들고 출력.

In [18]:
odds = [x for x in rands if x % 2]
print(odds)

[17, 97, 15, 63, 97, 57]

In [20]:
x = 2
if x % 2 == 0:
    is_even = True
else:
    is_even = False

print(is_even)

True

In [23]:
x = 2
is_even = True if x % 2 == 0 else False
# (조건식이 참일 때 저장할 값) if (조건식) else (조건식이 거짓일 때 저장할 값)
print(is_even)

True

In [24]:
print(rands)

[17, 72, 97, 8, 32, 15, 63, 97, 57, 60]

10개의 난수를 저장하고 있는 리스트 rands의 값이 짝수이면 True, 홀수이면 False 저장하는 새로운 리스트를 생성
```
[False, True, False, True, True, ...]
```

In [25]:
is_even = []
for x in rands:
    if x % 2 == 0:
        is_even.append(True)
    else:
        is_even.append(False)

print(is_even)

[False, True, False, True, True, False, False, False, False, True]

In [26]:
is_even = [True if x % 2 == 0 else False for x in rands]
print(is_even)

[False, True, False, True, True, False, False, False, False, True]

In [29]:
x = 0
if x > 0:
    result = 'positive'
elif x < 0:
    result = 'negative'
else:
    result = 'zero'

print(result)

zero

In [32]:
x = 0
result = 'positive' if x > 0 else 'negative' if x < 0 else 'zero'
# 값1 if 조건식 else 값2
print(result)

zero

In [ ]:
# 0 또는 1을 무작위로 10개 저장하는 리스트 gender1을 생성

# gender1의 원소의 값이 0이면 'male', 1이면 'female'을 갖는 리스트 gender2를 생성