<a href="https://colab.research.google.com/github/JakeOh/202011_itw_bd21/blob/main/lab_python/python22_first_class_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1급 객체(first-class object)로서의 함수(function)**

*   함수는 변수에 저장할 수 있음.
*   함수의 argument로 함수를 전달할 수 있음.
*   함수가 함수를 반환(return)할 수 있음.
*   함수는 내부에서 다른 함수를 정의할 수 있음.

In [1]:
# 함수 정의(선언)
def twice(x):
    return 2 * x

In [6]:
# 함수 호출
result = twice(4)  # 함수를 호출하고, 함수가 반환해주는 값을 변수 result에 저장.
print(result)

8

In [ ]:
x = 1  # 값 1을 변수에 할당.
y = x  # 변수 x의 값을 변수 y에 할당

In [8]:
double = twice  # 함수 twice를 변수 double에 저장.
print(double)  # 변수 double은 function 객체.
result = double(4)  # 함수 호출을 double 이름으로 할 수 있음.
print(result)

<function twice at 0x7f6f866b7a60>
8

In [9]:
def plus(x, y):
    return x + y

In [10]:
def minus(x, y):
    return x - y

In [11]:
def calculator(x, y, operator):
    return operator(x, y)

In [12]:
result = calculator(1, 2, plus)
print(result)

3

In [13]:
result = calculator(1, 2, minus)
print(result)

-1