<a href="https://colab.research.google.com/github/JakeOh/202011_itw_bd21/blob/main/lab_python/python22_first_class_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1급 객체(first-class object)로서의 함수(function)**

*   함수는 변수에 저장할 수 있음.
*   함수의 argument로 함수를 전달할 수 있음.
*   함수가 함수를 반환(return)할 수 있음.
*   함수는 내부에서 다른 함수를 정의할 수 있음.

In [1]:
# 함수 정의(선언)
def twice(x):
    return 2 * x

In [6]:
# 함수 호출
result = twice(4)  # 함수를 호출하고, 함수가 반환해주는 값을 변수 result에 저장.
print(result)

8

In [ ]:
x = 1  # 값 1을 변수에 할당.
y = x  # 변수 x의 값을 변수 y에 할당

In [8]:
double = twice  # 함수 twice를 변수 double에 저장.
print(double)  # 변수 double은 function 객체.
result = double(4)  # 함수 호출을 double 이름으로 할 수 있음.
print(result)

<function twice at 0x7f6f866b7a60>
8

In [9]:
def plus(x, y):
    return x + y

In [10]:
def minus(x, y):
    return x - y

In [11]:
def calculator(x, y, operator):
    return operator(x, y)

In [12]:
result = calculator(1, 2, plus)
print(result)

3

In [13]:
result = calculator(1, 2, minus)
print(result)

-1

In [16]:
def make_incrementor(n):
    # 함수 내부에서 다른 함수를 정의(선언)할 수 있음.
    # 내부 함수(inner function), 지역 함수(local function)
    def add_n(x):
        return x + n

    return add_n  # 함수가 리턴 값이 될 수 있음.

In [18]:
increase_by2 = make_incrementor(2)
print(increase_by2)
result = increase_by2(5)
print(result)

<function make_incrementor.<locals>.add_n at 0x7f6f7e8ad400>
7

In [19]:
increase_by10 = make_incrementor(10)
result = increase_by10(5)
print(result)

15

**람다 표현식(Lambda Expresseion)**

*   이름이 없는 함수(anonymous function)
*   함수 이름 없이, 함수의 parameter 선언과 반환 값(return value) 또는 반환 식(return expression)으로 함수를 표현하는 방법.
*   `lambda param1, param2, ...: expression`

In [22]:
plus = lambda x, y: x + y

In [24]:
print(plus)
result = plus(11, 22)
print(result)

<function <lambda> at 0x7f6f7e8a0b70>
33

In [27]:
# f(x, y) = x - y
minus = lambda x, y: x - y

result = minus(10, 29)
print(result)

-19

In [29]:
# f(x) = True if x is even number, False if x is odd number
is_even = lambda x: True if x % 2 == 0 else False

result = is_even(10)
print(result)

result = is_even(7)
print(result)

True
False

In [30]:
# def calculator(x, y, operator):
#     return operator(x, y)

# calculator 함수의 argument에 lambda expresion을 전달.
result = calculator(1, 2, lambda x, y: x + y)
print(result)

3

In [33]:
result = calculator(1, 2, lambda x, y: x - y)
print(result)

-1

In [34]:
result = calculator(2, 3, lambda x, y: x * y)
print(result)

6

In [36]:
result = calculator(x=2, y=3, operator=lambda x, y: x / y)
print(result)

0.6666666666666666

In [39]:
# calculator 함수와 lambda 표현식을 사용해서, x가 y보다 큰 지(True/False)를 확인
result = calculator(x=2, y=1, operator=lambda x, y: x > y)
# lambda x, y: True if x > y else False
print(result)

True