<a href="https://colab.research.google.com/github/JakeOh/202011_itw_bd21/blob/main/lab_python/python05_for.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 반복문(Iteration)

**for statement**


```
for 변수 in iterable-type:
    반복해서 실행할 블록(문장들)
```


* iterable-type: 반복 가능한 데이터 타입. range, list, tuple, dict, set, str, ...

In [6]:
for ch in '안녕하세요':
    print(ch)

안
녕
하
세
요

In [7]:
string = '안녕하세요'
for ch in string:
    print(ch)

안
녕
하
세
요

In [8]:
# range(a, b): [a, b). a <= x < b 범위의 (1씩 증가하는) 정수들.
for x in range(1, 6):  # (1, 2, 3, 4, 5)
    print(x)

1
2
3
4
5

In [10]:
# range(start, stop, step): [start, stop). start <= x < stop 범위의 step만큼씩 증가하는 정수들.
for x in range(1, 10, 2):  # (1, 3, 5, 7, 9)
    print(x)

1
3
5
7
9

In [11]:
# range(stop): [0, stop). 0 <= x < stop 범위의 (1씩 증가하는) 정수들.
for x in range(5):  # (0, 1, 2, 3, 4)
    print(x)

0
1
2
3
4

아래와 같이 출력되도록 for-in 문을 작성

```
5
4
3
2
1
Fire
```

In [16]:
for x in range(5, 0, -1):  # (5, 4, 3, 2, 1)
    print(x)
print('Fire')

5
4
3
2
1
Fire

0 이상 10 미만의 짝수들 출력

In [17]:
for n in range(0, 10, 2):  # (0, 2, 4, 6, 8)
    print(n)

0
2
4
6
8

In [21]:
for n in range(10):  # (0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
    if n % 2 == 0:
        print(n)

0
2
4
6
8

아래와 같이 출력되도록 코드 작성


```
*
**
***
****
*****
```

In [22]:
print('*')
print('**')
print('***')
print('****')
print('*****')

*
**
***
****
*****

In [25]:
print('*' * 1)
print('*' * 2)
print('*' * 3)
print('*' * 4)
print('*' * 5)

*
**
***
****
*****

In [26]:
for n in range(1, 6):
    print('*' * n)

*
**
***
****
*****

In [28]:
for n in range(5):
    print('*' * (n + 1))

*
**
***
****
*****

구구단 2단이 아래와 같은 형식으로 출력되도록 코드 작성

```
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
...
2 x 9 = 18
```

In [33]:
for n in range(1, 10):
    print(f'2 x {n} = {2 * n}')

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18