<a href="https://colab.research.google.com/github/JakeOh/202011_itw_bd21/blob/main/lab_python/python06_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# for-in 구문 연습

In [ ]:
# end 파라미터: 프린트가 끝난 후 어떤 동작을 할 것인지를 설정.
# end='\n': 줄바꿈(enter). 기본값.
# '\n': new line. 줄바꿈. 키보드 enter.
# '\t': tab. 탭. 키보드 tab.
print('hello', end=' ')
print('안녕하세요', end=' ')
print('Hello Python!', end=' ')

hello 안녕하세요 Hello Python!

In [ ]:
# sep 파라미터: 출력할 argument들을 어떤 문자(들)로 구분(separate)할지를 설정.
# sep=' ': 공백(space 1개). 기본값
print('hello', '안녕하세요', 'Python', sep='::')

hello::안녕하세요::Python

## 동요를 불러볼까요?

아래와 같이 출력되도록 코드를 작성

```
1 little 2 little 3 little indian
4 little 5 little 6 little indian
7 little 8 little 9 little indian
10 little indian boys!
```

In [9]:
for n in range(1, 11):
    print(n, 'little', end=' ')
    if n % 3 == 0:  # n이 3, 6, 9이면
        print('indian')

print('indian boys!')

1 little 2 little 3 little indian
4 little 5 little 6 little indian
7 little 8 little 9 little indian
10 little indian boys!

## 369 게임을 해볼까요?

아래와 같이 출력되도록 코드 작성

```
1  2  *  4  5  *  7  8  *  10
11 12 *  14 15 *  17 18 *  20
21 22 *  24 25 *  27 28 *  *
*  *  *  *  *  *  *  *  *  40
...
81 82 *  84 85 *  87 88 *  * 
*  *  *  *  *  *  *  *  *  100
```

In [13]:
for n in range(1, 101):
    print(n, end='\t')

    if n % 10 == 0:
        print()  # end='\n'

1	2	3	4	5	6	7	8	9	10
11	12	13	14	15	16	17	18	19	20
21	22	23	24	25	26	27	28	29	30
31	32	33	34	35	36	37	38	39	40
41	42	43	44	45	46	47	48	49	50
51	52	53	54	55	56	57	58	59	60
61	62	63	64	65	66	67	68	69	70
71	72	73	74	75	76	77	78	79	80
81	82	83	84	85	86	87	88	89	90
91	92	93	94	95	96	97	98	99	100

## 삼각형을 그려볼까요?

아래와 같이 출력되도록 코드 작성

```
*
**
***
****
*****
****
***
**
*
```