<a href="https://colab.research.google.com/github/JakeOh/202011_itw_bd21/blob/main/lab_python/python37_csv_module.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*   pop_seoul.csv 파일을 구글 드라이브에 업로드
*   Colab에서 구글 드라이브를 마운트

In [1]:
file_path = '/content/drive/MyDrive/Colab Notebooks/lab_python/pop_seoul.csv'

In [2]:
with open(file_path, mode='r') as f:
    for i, line in enumerate(f):
        print(line)
        if i == 5:
            break

Gu,Korean,Foreigner,Senior

Total,"9,740,398","285,529","1,468,146"

Jongrogu,"151,767","11,093","27,394"

Jongru,"126,409","10,254","23,025"

Yongsangu,"228,830","16,159","38,531"

Seongdonggu,"303,158","8,132","43,662"