<a href="https://colab.research.google.com/github/JakeOh/202011_itw_bd21/blob/main/lab_python/python13_dict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# dict

**dict**

* 사전(dictionary) 형식의 데이터 타입
* 원소들을 key:value 쌍으로 (mapping 시켜서) 저장하는 데이터 타입
* key는 중복되지 않는 값이어야 함.
* key의 역할은 list나 tuple에서 인덱스(index)와 같이 유일한 한개의 값을 접근하기 위한 용도로 사용.

In [ ]:
students = {1: '강동호', 2: '고동완', 10: '이규섭', 12: '이승우'}
print(students)
print(type(students))

{1: '강동호', 2: '고동완', 10: '이규섭', 12: '이승우'}
<class 'dict'>

dict에서 key를 사용해서 원소의 값(value)를 찾는 방법: `dict_name[key]`

In [ ]:
print(students[1])

강동호

In [ ]:
dong_ho = {'name': '강동호', 'age': 36, 'height': 175}
print(dong_ho)
print(dong_ho['name'])
print(dong_ho['age'])
print(dong_ho['height'])

{'name': '강동호', 'age': 36, 'height': 175}
강동호
36
175

In [ ]:
employees = {100: 'King', 101: 'Scott', 200: 'Allen', 100: 'Tiger'}
print(employees)
#> dict에서 key는 유일한 값이어야 함.

{100: 'Tiger', 101: 'Scott', 200: 'Allen'}

## dict의 메서드 - 기능

In [ ]:
k = employees.keys()  # dict의 key들만 알고 싶을 때
print(k)

dict_keys([100, 101, 200])

In [ ]:
v = employees.values()  # dict의 value들만 알고 싶을 때
print(v)

dict_values(['Tiger', 'Scott', 'Allen'])

In [ ]:
items = employees.items()  # (k, v) tuple들의 list
print(items)

dict_items([(100, 'Tiger'), (101, 'Scott'), (200, 'Allen')])

In [ ]:
name = employees.get(300, 'No Value')
print(name)

# dict.get(key, default_value)
# -> dict에서 key에 해당하는 value를 찾아서 리턴(반환).
# -> 만약 key가 존재하지 않으면, default_value를 리턴(반환).
# -> default_value argument를 전달하지 않은 경우에는 None이 리턴(반환).

No Value

In [ ]:
name = employees[100]
print(name)

#> dict[key]를 사용할 때, 키가 존재하지 않으면 KeyError가 발생 - get() 메서드와의 차이점!

Tiger

In [ ]:
# dict[key] = value: dict의 새로운 원소(key:value)를 추가/key에 해당하는 값을 변경
employees[300] = '홍길동'
print(employees)

{100: 'Tiger', 101: 'Scott', 200: 'Allen', 300: '홍길동'}

In [ ]:
employees[300] = 'Gil-Dong'
print(employees)

{100: 'Tiger', 101: 'Scott', 200: 'Allen', 300: 'Gil-Dong'}

## dict와 for loop

In [ ]:
students = {1: 'abc', 10: 'def', 100: 'ghi'}
print(students)

{1: 'abc', 10: 'def', 100: 'ghi'}

dict에서의 in 연산자

In [ ]:
print(1 in students)
print('abc' in students)
#> k in dict_name: k가 dict_name의 키로 존재하면 True, 그렇지 않으면 False

True
False

for-in 구문에서 dict 타입을 사용하면 dict의 key에 대해서 iteration을 수행함.

In [ ]:
for k in students:
    print(k)

1
10
100

In [ ]:
for k in students:
    print(k, ':', students[k])

1 : abc
10 : def
100 : ghi

In [ ]:
for v in students.values():
    print(v)

abc
def
ghi

In [ ]:
for k, v in students.items():
    print(k, v)

1 abc
10 def
100 ghi

In [ ]:
languages = {'Python': 6, 'R': 1, 'SQL': 3}
print(languages)

{'Python': 6, 'R': 1, 'SQL': 3}

In [ ]:
# key들만 iteration
for k in languages:
    print(k)

Python
R
SQL

In [ ]:
# value들만 iteration
for v in languages.values():
    print(v)

6
1
3

In [ ]:
# item(k:v)들을 iteration
for k, v in languages.items():
    print(k, v)

Python 6
R 1
SQL 3

In [ ]:
iris = {'sepal_length': [1.0, 1.5, 2.0],
        'sepal_width': [0.2, 0.3, 0.5],
        'species': ['setosa', 'versicolor', 'virginica']}
print(iris)

{'sepal_length': [1.0, 1.5, 2.0], 'sepal_width': [0.2, 0.3, 0.5], 'species': ['setosa', 'versicolor', 'virginica']}

In [ ]:
print(iris['species'])
print(iris['species'][0])

['setosa', 'versicolor', 'virginica']
setosa

In [ ]:
contact = {
    'name': '홍길동',
    'phone': ['010-1234-5678', '02-8989-5678'],
    'email': {
        'company': 'hgd@itwill.co.kr',
        'personal': 'hgd@gmail.com'
    },
    'age': 16
}
print(contact)

{'name': '홍길동', 'phone': ['010-1234-5678', '02-8989-5678'], 'email': {'company': 'hgd@itwill.co.kr', 'personal': 'hgd@gmail.com'}, 'age': 16}

In [ ]:
for k in contact:
    print(k)

name
phone
email
age

In [ ]:
for v in contact.values():
    print(v)

홍길동
['010-1234-5678', '02-8989-5678']
{'company': 'hgd@itwill.co.kr', 'personal': 'hgd@gmail.com'}
16

In [ ]:
for k, v in contact.items():
    print(k, ':', v, ':', type(v))

name : 홍길동 : <class 'str'>
phone : ['010-1234-5678', '02-8989-5678'] : <class 'list'>
email : {'company': 'hgd@itwill.co.kr', 'personal': 'hgd@gmail.com'} : <class 'dict'>
age : 16 : <class 'int'>

In [ ]:
print(contact['name'])
print(contact['phone'][0])
print(contact['email']['personal'])

홍길동
010-1234-5678
hgd@gmail.com

## Dictionary Comprehension

In [ ]:
emp_no = [101, 102, 201, 202]
emp_name = ['Scott', 'King', 'Allen', 'Tiger']

# emp_no를 key, emp_name을 value로 하는 dict 객체 employees 생성.

# 1) empty dict 생성
# employees = dict()
employees = {}
print(employees)

# 2) emp_no, emp_name을 반복하면서, employees[k] = v
for i in range(4):
    # print(emp_no[i], emp_name[i])
    employees[emp_no[i]] = emp_name[i]

# 3) 확인
print(employees)

{}
{101: 'Scott', 102: 'King', 201: 'Allen', 202: 'Tiger'}

In [ ]:
for x in zip(emp_no, emp_name):
    print(x)

(101, 'Scott')
(102, 'King')
(201, 'Allen')
(202, 'Tiger')

In [ ]:
for k, v in zip(emp_no, emp_name):
    print(k, v)

101 Scott
102 King
201 Allen
202 Tiger

In [ ]:
employees = {}
for k, v in zip(emp_no, emp_name):
    employees[k] = v

print(employees)

{101: 'Scott', 102: 'King', 201: 'Allen', 202: 'Tiger'}

In [ ]:
employees = {k: v for k, v in zip(emp_no, emp_name)}
print(employees)

{101: 'Scott', 102: 'King', 201: 'Allen', 202: 'Tiger'}

In [62]:
fruits = ['apple', 'banana', 'cherry', 'dragon fruit']

과일 이름을 dict의 key로, 과일 이름의 글자수를 dict의 value로 하는 dict 객체 생성

In [63]:
fruit_lengths = {}  # empty dict
for f in fruits:  # 리스트 fruits의 각 원소에 대해서 반복
    fruit_lengths[f] = len(f)  # fruits의 원소를 key, fruits의 문자 개수를 value로 저장.

print(fruit_lengths)

{'apple': 5, 'banana': 6, 'cherry': 6, 'dragon fruit': 12}

In [64]:
fruit_lengths = {k: len(k) for k in fruits}
print(fruit_lengths)

{'apple': 5, 'banana': 6, 'cherry': 6, 'dragon fruit': 12}

## Word Counting

In [65]:
words = ['little', 'indian', 'boy', 'little', 'boy', '홍길동', 'little', 'hgd']

리스트 words의 단어를 key로 하고, 그 단어가 등장하는 빈도수를 value하는 dict 객체 생성

In [66]:
word_counts = {}  # empty dict
for w in words:  # 리스트 words의 각 원소에 대해서 반복
    if w in word_counts:
        # 단어가 word_counts의 key로 존재하면, count를 기존값 + 1
        word_counts[w] += 1  # word_counts[w] = word_counts[w] + 1
    else:
        # 단어가 word_counts의 key로 존재하지 않으면, count를 1
        word_counts[w] = 1

print(word_counts)

{'little': 3, 'indian': 1, 'boy': 2, '홍길동': 1, 'hgd': 1}

In [68]:
word_counts = {}  # empty dict
for x in words:
    word_counts[x] = 0
print(word_counts)    

for x in words:
    word_counts[x] +=1
print(word_counts)

{'little': 0, 'indian': 0, 'boy': 0, '홍길동': 0, 'hgd': 0}
{'little': 3, 'indian': 1, 'boy': 2, '홍길동': 1, 'hgd': 1}

In [69]:
from collections import defaultdict
# collections 모듈(파일)에서 함수 defaultdict를 import

In [71]:
word_counts = defaultdict(int)  # value들의 타입이 int
# print(word_counts)
for w in words:
    word_counts[w] += 1

print(word_counts)

defaultdict(<class 'int'>, {'little': 3, 'indian': 1, 'boy': 2, '홍길동': 1, 'hgd': 1})