<a href="https://colab.research.google.com/github/JakeOh/202011_itw_bd21/blob/main/lab_python/python13_dict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# dict

**dict**

* 사전(dictionary) 형식의 데이터 타입
* 원소들을 key:value 쌍으로 (mapping 시켜서) 저장하는 데이터 타입
* key는 중복되지 않는 값이어야 함.
* key의 역할은 list나 tuple에서 인덱스(index)와 같이 유일한 한개의 값을 접근하기 위한 용도로 사용.

In [ ]:
students = {1: '강동호', 2: '고동완', 10: '이규섭', 12: '이승우'}
print(students)
print(type(students))

{1: '강동호', 2: '고동완', 10: '이규섭', 12: '이승우'}
<class 'dict'>

dict에서 key를 사용해서 원소의 값(value)를 찾는 방법: `dict_name[key]`

In [ ]:
print(students[1])

강동호

In [ ]:
dong_ho = {'name': '강동호', 'age': 36, 'height': 175}
print(dong_ho)
print(dong_ho['name'])
print(dong_ho['age'])
print(dong_ho['height'])

{'name': '강동호', 'age': 36, 'height': 175}
강동호
36
175

In [1]:
employees = {100: 'King', 101: 'Scott', 200: 'Allen', 100: 'Tiger'}
print(employees)
#> dict에서 key는 유일한 값이어야 함.

{100: 'Tiger', 101: 'Scott', 200: 'Allen'}

## dict의 메서드 - 기능

In [2]:
k = employees.keys()  # dict의 key들만 알고 싶을 때
print(k)

dict_keys([100, 101, 200])

In [3]:
v = employees.values()  # dict의 value들만 알고 싶을 때
print(v)

dict_values(['Tiger', 'Scott', 'Allen'])

In [4]:
items = employees.items()  # (k, v) tuple들의 list
print(items)

dict_items([(100, 'Tiger'), (101, 'Scott'), (200, 'Allen')])

In [7]:
name = employees.get(300, 'No Value')
print(name)

# dict.get(key, default_value)
# -> dict에서 key에 해당하는 value를 찾아서 리턴(반환).
# -> 만약 key가 존재하지 않으면, default_value를 리턴(반환).
# -> default_value argument를 전달하지 않은 경우에는 None이 리턴(반환).

No Value

In [10]:
name = employees[100]
print(name)

#> dict[key]를 사용할 때, 키가 존재하지 않으면 KeyError가 발생 - get() 메서드와의 차이점!

Tiger

In [11]:
# dict[key] = value: dict의 새로운 원소(key:value)를 추가/key에 해당하는 값을 변경
employees[300] = '홍길동'
print(employees)

{100: 'Tiger', 101: 'Scott', 200: 'Allen', 300: '홍길동'}

In [12]:
employees[300] = 'Gil-Dong'
print(employees)

{100: 'Tiger', 101: 'Scott', 200: 'Allen', 300: 'Gil-Dong'}

## dict와 for loop

In [33]:
students = {1: 'abc', 10: 'def', 100: 'ghi'}
print(students)

{1: 'abc', 10: 'def', 100: 'ghi'}

dict에서의 in 연산자

In [34]:
print(1 in students)
print('abc' in students)
#> k in dict_name: k가 dict_name의 키로 존재하면 True, 그렇지 않으면 False

True
False

for-in 구문에서 dict 타입을 사용하면 dict의 key에 대해서 iteration을 수행함.

In [35]:
for k in students:
    print(k)

1
10
100

In [36]:
for k in students:
    print(k, ':', students[k])

1 : abc
10 : def
100 : ghi

In [37]:
for v in students.values():
    print(v)

abc
def
ghi

In [38]:
for k, v in students.items():
    print(k, v)

1 abc
10 def
100 ghi

In [39]:
languages = {'Python': 6, 'R': 1, 'SQL': 3}
print(languages)

{'Python': 6, 'R': 1, 'SQL': 3}

In [40]:
# key들만 iteration
for k in languages:
    print(k)

Python
R
SQL

In [41]:
# value들만 iteration
for v in languages.values():
    print(v)

6
1
3

In [42]:
# item(k:v)들을 iteration
for k, v in languages.items():
    print(k, v)

Python 6
R 1
SQL 3

In [43]:
iris = {'sepal_length': [1.0, 1.5, 2.0],
        'sepal_width': [0.2, 0.3, 0.5],
        'species': ['setosa', 'versicolor', 'virginica']}
print(iris)

{'sepal_length': [1.0, 1.5, 2.0], 'sepal_width': [0.2, 0.3, 0.5], 'species': ['setosa', 'versicolor', 'virginica']}

In [44]:
print(iris['species'])
print(iris['species'][0])

['setosa', 'versicolor', 'virginica']
setosa

In [46]:
contact = {
    'name': '홍길동',
    'phone': ['010-1234-5678', '02-8989-5678'],
    'email': {
        'company': 'hgd@itwill.co.kr',
        'personal': 'hgd@gmail.com'
    },
    'age': 16
}
print(contact)

{'name': '홍길동', 'phone': ['010-1234-5678', '02-8989-5678'], 'email': {'company': 'hgd@itwill.co.kr', 'personal': 'hgd@gmail.com'}, 'age': 16}

In [47]:
for k in contact:
    print(k)

name
phone
email
age

In [48]:
for v in contact.values():
    print(v)

홍길동
['010-1234-5678', '02-8989-5678']
{'company': 'hgd@itwill.co.kr', 'personal': 'hgd@gmail.com'}
16

In [49]:
for k, v in contact.items():
    print(k, ':', v, ':', type(v))

name : 홍길동 : <class 'str'>
phone : ['010-1234-5678', '02-8989-5678'] : <class 'list'>
email : {'company': 'hgd@itwill.co.kr', 'personal': 'hgd@gmail.com'} : <class 'dict'>
age : 16 : <class 'int'>

In [53]:
print(contact['name'])
print(contact['phone'][0])
print(contact['email']['personal'])

홍길동
010-1234-5678
hgd@gmail.com

## Dictionary Comprehension

In [57]:
emp_no = [101, 102, 201, 202]
emp_name = ['Scott', 'King', 'Allen', 'Tiger']

# emp_no를 key, emp_name을 value로 하는 dict 객체 employees 생성.

# 1) empty dict 생성
# employees = dict()
employees = {}
print(employees)

# 2) emp_no, emp_name을 반복하면서, employees[k] = v
for i in range(4):
    # print(emp_no[i], emp_name[i])
    employees[emp_no[i]] = emp_name[i]

# 3) 확인
print(employees)

{}
{101: 'Scott', 102: 'King', 201: 'Allen', 202: 'Tiger'}

In [58]:
for x in zip(emp_no, emp_name):
    print(x)

(101, 'Scott')
(102, 'King')
(201, 'Allen')
(202, 'Tiger')

In [59]:
for k, v in zip(emp_no, emp_name):
    print(k, v)

101 Scott
102 King
201 Allen
202 Tiger

In [60]:
employees = {}
for k, v in zip(emp_no, emp_name):
    employees[k] = v

print(employees)

{101: 'Scott', 102: 'King', 201: 'Allen', 202: 'Tiger'}

In [61]:
employees = {k: v for k, v in zip(emp_no, emp_name)}
print(employees)

{101: 'Scott', 102: 'King', 201: 'Allen', 202: 'Tiger'}