<a href="https://colab.research.google.com/github/JakeOh/202011_itw_bd21/blob/main/lab_python/python06_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# for-in 구문 연습

In [ ]:
# end 파라미터: 프린트가 끝난 후 어떤 동작을 할 것인지를 설정.
# end='\n': 줄바꿈(enter). 기본값.
# '\n': new line. 줄바꿈. 키보드 enter.
# '\t': tab. 탭. 키보드 tab.
print('hello', end=' ')
print('안녕하세요', end=' ')
print('Hello Python!', end=' ')

hello 안녕하세요 Hello Python!

In [ ]:
# sep 파라미터: 출력할 argument들을 어떤 문자(들)로 구분(separate)할지를 설정.
# sep=' ': 공백(space 1개). 기본값
print('hello', '안녕하세요', 'Python', sep='::')

hello::안녕하세요::Python

## 동요를 불러볼까요?

아래와 같이 출력되도록 코드를 작성

```
1 little 2 little 3 little indian
4 little 5 little 6 little indian
7 little 8 little 9 little indian
10 little indian boys!
```

In [9]:
for n in range(1, 11):
    print(n, 'little', end=' ')
    if n % 3 == 0:  # n이 3, 6, 9이면
        print('indian')

print('indian boys!')

1 little 2 little 3 little indian
4 little 5 little 6 little indian
7 little 8 little 9 little indian
10 little indian boys!

## 369 게임을 해볼까요?

아래와 같이 출력되도록 코드 작성

```
1  2  *  4  5  *  7  8  *  10
11 12 *  14 15 *  17 18 *  20
21 22 *  24 25 *  27 28 *  *
*  *  *  *  *  *  *  *  *  40
...
81 82 *  84 85 *  87 88 *  * 
*  *  *  *  *  *  *  *  *  100
```

In [16]:
for n in range(1, 101):
    # 숫자 n을 1의 자릿수와 10의 자릿수로 분리
    n_1 = n % 10    # n을 10으로 나눈 나머지 -> 숫자 n의 1의 자릿수
    n_10 = n // 10  # n을 10으로 나눈 몫 -> 숫자 n의 10의 자릿수
    
    # 1의 자릿수가 3 또는 6 또는 9이면,
    # cond_n1 = (n_1 == 3) or (n_1 == 6) or (n_1 == 9)
    cond_n1 = n_1 in (3, 6, 9)
    # 10의 자릿수가 3 또는 6 또는 9이면,
    cond_n10 = n_10 in (3, 6, 9)

    if cond_n1 and cond_n10:
        # 1의 자릿수가 3이거나 6이거나 9"이고", 10의 자릿수가 3이거나 6이거나 9이면
        print('**', end='\t')
    elif cond_n1 or cond_n10:
        # 1의 자릿수가 3, 6, 9이거나 "또는" 10의 자릿수가 3, 6, 9이면
        print('*', end='\t')
    else:
        # 3, 6, 9가 숫자에 포함되어 있지 않으면
        print(n, end='\t')

    # 숫자를 10개 출력할 때마다 줄바꿈
    if n % 10 == 0:  
        print()  # end='\n'

1	2	*	4	5	*	7	8	*	10
11	12	*	14	15	*	17	18	*	20
21	22	*	24	25	*	27	28	*	*
*	*	**	*	*	**	*	*	**	40
41	42	*	44	45	*	47	48	*	50
51	52	*	54	55	*	57	58	*	*
*	*	**	*	*	**	*	*	**	70
71	72	*	74	75	*	77	78	*	80
81	82	*	84	85	*	87	88	*	*
*	*	**	*	*	**	*	*	**	100

In [18]:
for n in range(1, 101):
    n_str = str(n)  # 숫자 n을 문자열로 변환
    
    if ('3' in n_str) or ('6' in n_str) or ('9' in n_str):
        # 문자열 중에 '3' 또는 '6' 또는 '9'가 포함되어 있으면
        print('*', end='\t')
    else:
        print(n_str, end='\t')

    if n % 10 == 0:
        print()

1	2	*	4	5	*	7	8	*	10
11	12	*	14	15	*	17	18	*	20
21	22	*	24	25	*	27	28	*	*
*	*	*	*	*	*	*	*	*	40
41	42	*	44	45	*	47	48	*	50
51	52	*	54	55	*	57	58	*	*
*	*	*	*	*	*	*	*	*	70
71	72	*	74	75	*	77	78	*	80
81	82	*	84	85	*	87	88	*	*
*	*	*	*	*	*	*	*	*	100

## 삼각형을 그려볼까요?

아래와 같이 출력되도록 코드 작성

```
*
**
***
****
*****
****
***
**
*
```

In [20]:
for n in range(1, 6):
    print('*' * n)
for n in range(4, 0, -1):
    print('*' * n)

*
**
***
****
*****
****
***
**
*

In [21]:
for n in range(1, 10):
    if n <= 5:
        print('*' * n)
    else:
        print('*' * (10 - n))

*
**
***
****
*****
****
***
**
*

In [22]:
for x in range(-4, 5):
    print('*' * (5 - abs(x)))

*
**
***
****
*****
****
***
**
*