<a href="https://colab.research.google.com/github/JakeOh/202011_itw_bd21/blob/main/lab_python/python01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**여러가지 print 방법**

In [ ]:
print('Hello, Python!')

Hello, Python!

print() 함수에 argument를 여러개 전달하면, 각각의 argument를 공백으로 연결해서 한 줄에 출력해줌.

In [ ]:
print('안녕', '여러분', 'hello')

안녕 여러분 hello

In [ ]:
print(1, 2)

1 2

In [ ]:
print(1 + 2)

3

In [ ]:
print(1, '+', 2, '=', (1 + 2))

1 + 2 = 3

In [ ]:
# Python 주석
# #으로 시작해서 그 줄(line)의 끝까지

# 변수(variable): 값(자료)를 저장한 곳(메모리)을 찾아갈 수 있는 이름.
# 변수이름 = 값
name = '오쌤'
age = 16

print(name)
print(age)

오쌤
16

In [ ]:
print('이름:', name, '나이:', age)

이름: 오쌤 나이: 16

In [ ]:
print("I'm a boy.")

I'm a boy.

In [ ]:
print('I\'m a boy.')  # escape character \

I'm a boy.

In [ ]:
print('이름:', name, ',', '나이:', age)

이름: 오쌤 , 나이: 16

In [ ]:
print('이름: %s, 나이: %d' % (name, age))
# %s: 문자열(string)
# %d: 정수(integer). digit
# %f: 실수. 부동소수점(floating point number)

이름: 오쌤, 나이: 16

In [ ]:
# format() 메서드(함수) 이용.
print('이름: {}, 나이: {}'.format(name, age))  # placeholder {}

이름: 16, 나이: 오쌤

In [ ]:
print('{} x {} = {}'.format(2, 3, 2*3))

2 x 3 = 6

In [ ]:
# formatted string: Python 3.6 이상 버전부터 새로 추가된 print 방법
print(f'이름: {name}, 나이: {age}')

이름: 오쌤, 나이: 16

In [ ]:
print(f'나이: {age + 1}')

나이: 17

In [25]:
# 사용자 입력(키보드로부터 문자열 입력)
name = input('이름을 입력하세요>>> ')
print(f'안녕하세요, {name}!')

이름을 입력하세요>>> 홍길동
안녕하세요, 홍길동!