<a href="https://colab.research.google.com/github/JakeOh/202011_itw_bd21/blob/main/lab_python/python08_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# List(리스트)

* list: 여러개의 값들을 하나의 변수에 저장하기 위한 데이터 타입.
* element(원소): 리스트에 저장된 각각의 값.
* index(인덱스): 리스트에 값이 저장된 위치(번호).
    * list의 인덱스는 0부터 시작!!
    * list의 마지막 인덱스는 (원소의 개수) - 1.
* list는 원소들을 변경(추가/삭제)가 가능.
    * tuple과의 차이점!!

In [2]:
# 숫자들을 저장하는 list
numbers = [10, 20, 30, 40, 50, 60]
print(numbers)
print(type(numbers))

[10, 20, 30, 40, 50, 60]
<class 'list'>

In [4]:
# list에서 원소 1개를 선택: list[index]
print(numbers[0])
print(numbers[5])

10
60

In [5]:
# 음수 인덱스: list의 끝에서부터 거꾸로 매겨지는 인덱스.
print(numbers[-1])

60

## Slicing

`list[start:end]`

* start <= index < end 범위의 list 원소들을 선택.
* start가 생략되면, list의 첫번째 원소부터 선택.
* end가 생략되면, list의 마지막 원소까지 선택.

In [6]:
print(numbers[1:4])  #> slicing된 새로운 list가 반환됨.

[20, 30, 40]

In [7]:
print(numbers[:4])

[10, 20, 30, 40]

In [8]:
print(numbers[4:])

[50, 60]

In [9]:
print(numbers[:])  # 처음부터 끝까지

[10, 20, 30, 40, 50, 60]

In [10]:
print(numbers[-2:])  # list의 끝에서 2개 선택.

[50, 60]

In [11]:
print(numbers[-4:-1])

[30, 40, 50]

In [12]:
# 주의
print(numbers[1])    #> 숫자 1개
print(numbers[1:2])  #> 원소가 1개인 list

20
[20]

## list의 메서드(함수) - 기능

`list_name.append(x)`: x를 list_name의 가장 마지막 위치에 추가.

In [14]:
print(numbers)
numbers.append(100)
print(numbers)

[10, 20, 30, 40, 50, 60]
[10, 20, 30, 40, 50, 60, 100]

`list_name.insert(i, x)`: list의 i번째 인덱스 위치에 x를 추가.

In [16]:
print(numbers)
numbers.insert(1, 200)
print(numbers)

[10, 20, 30, 40, 50, 60, 100]
[10, 200, 20, 30, 40, 50, 60, 100]

In [19]:
print(numbers)
# len(x): x의 원소의 개수를 반환(return)
print(len(numbers))

# list_name.insert(len(list_name), x)는 list_name.append(x)와 동일한 기능
numbers.insert(len(numbers), 300)
print(numbers)

[10, 200, 20, 30, 40, 50, 60, 100]
8
[10, 200, 20, 30, 40, 50, 60, 100, 300]

`list_name.remove(x)`: 

* list_name에서 가장 처음에 나오는 값 x를 삭제.
* 삭제하려는 값 x가 리스트에 없는 경우에는 ValueError가 발생함.

In [21]:
print(numbers)
numbers.remove(100)
print(numbers)

[10, 200, 20, 30, 40, 50, 60, 100, 300]
[10, 200, 20, 30, 40, 50, 60, 300]

`list_name.pop(i)`:

* list_name에서 인덱스 i번째의 원소를 삭제.
* i가 생략된 경우에는 list_name의 가장 마지막 원소를 삭제.

In [23]:
print(numbers)
numbers.pop()
print(numbers)

[10, 200, 20, 30, 40, 50, 60, 300]
[10, 200, 20, 30, 40, 50, 60]

In [26]:
print(numbers)
numbers.pop(1)
print(numbers)

[10, 200, 20, 30, 40, 50, 60]
[10, 20, 30, 40, 50, 60]

`list_name.extend(iterable)`:

* iterable 타입의 여러개의 원소를 하나씩 list_name에 추가.

In [28]:
print(numbers)
numbers.extend([1, 3, 5])
print(numbers)

[10, 20, 30, 40, 50, 60]
[10, 20, 30, 40, 50, 60, 1, 3, 5]

In [ ]:
print(len(numbers))

**append()와 extend() 비교(차이점)**

In [30]:
print(numbers)
numbers.append([2, 4, 6])
print(numbers)

[10, 20, 30, 40, 50, 60, 1, 3, 5]
[10, 20, 30, 40, 50, 60, 1, 3, 5, [2, 4, 6]]

In [32]:
print(len(numbers))

10

In [33]:
# list의 특정 인덱스(위치)에 있는 원소의 값을 다른 값으로 변경
numbers[0] = 123
print(numbers)

[123, 20, 30, 40, 50, 60, 1, 3, 5, [2, 4, 6]]

## list와 str

In [34]:
char_array = list('Hello')
print(char_array)

['H', 'e', 'l', 'l', 'o']

In [35]:
today = '2021-01-14'
print(today.split('-'))

['2021', '01', '14']