<a href="https://colab.research.google.com/github/JakeOh/202011_itw_bd21/blob/main/lab_python/python15_loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

아래와 같은 출력을 하는 코드를 작성


```
*****
****
***
**
*
```

In [1]:
for n in range(5, 0, -1):  # (5, 4, 3, 2, 1)
    print('*' * n)

*****
****
***
**
*

In [2]:
n = 5
while n > 0:
    print('*' * n)
    n -= 1  # n = n - 1

*****
****
***
**
*

주사위 2개를 던졌을 때 나오는 눈의 조합(36가지)을 저장하는 리스트를 생성


```
dice = [(1, 1), (1, 2), (1, 3), ..., (6, 4), (6, 5), (6, 6)]
```

In [3]:
dice = []  # empty list
for x in range(1, 7):
    for y in range(1, 7):
        # eyes = (x, y)  # tuple
        # dice.append(eyes)
        dice.append((x, y))
print(dice)

[(1, 1), (1, 2), (1, 3), (1, 4), (1, 5), (1, 6), (2, 1), (2, 2), (2, 3), (2, 4), (2, 5), (2, 6), (3, 1), (3, 2), (3, 3), (3, 4), (3, 5), (3, 6), (4, 1), (4, 2), (4, 3), (4, 4), (4, 5), (4, 6), (5, 1), (5, 2), (5, 3), (5, 4), (5, 5), (5, 6), (6, 1), (6, 2), (6, 3), (6, 4), (6, 5), (6, 6)]

In [4]:
dice = [(x, y) for x in range(1, 7) for y in range(1, 7)]
print(dice)

[(1, 1), (1, 2), (1, 3), (1, 4), (1, 5), (1, 6), (2, 1), (2, 2), (2, 3), (2, 4), (2, 5), (2, 6), (3, 1), (3, 2), (3, 3), (3, 4), (3, 5), (3, 6), (4, 1), (4, 2), (4, 3), (4, 4), (4, 5), (4, 6), (5, 1), (5, 2), (5, 3), (5, 4), (5, 5), (5, 6), (6, 1), (6, 2), (6, 3), (6, 4), (6, 5), (6, 6)]

In [6]:
dice = []
x = 1    
while x < 7:  # while x <= 6:
    y = 1
    while y < 7:  # while y <= 6
        dice.append((x, y))
        y += 1
    x += 1

print(dice)

[(1, 1), (1, 2), (1, 3), (1, 4), (1, 5), (1, 6)]

주사위 2개를 던졌을 때 나오는 눈의 합이 10 이상인 조합들을 저장하는 리스트를 생성


```
dice_above10 = [(4, 6), (5, 5), (5, 6), (6, 4), (6, 5), (6, 6)]
```

In [7]:
dice_above10 = []
for x in range(1, 7):
    for y in range(1, 7):
        if x + y >= 10:
            dice_above10.append((x, y))
print(dice_above10)

[(4, 6), (5, 5), (5, 6), (6, 4), (6, 5), (6, 6)]

In [8]:
dice_above10 = [(x, y) for x in range(1, 7) for y in range(1, 7) if x + y >= 10]
print(dice_above10)

[(4, 6), (5, 5), (5, 6), (6, 4), (6, 5), (6, 6)]

In [9]:
dice_above10 = []
x = 1
while x < 7:
    y = 1
    while y < 7:
        if x + y >= 10:
            dice_above10.append((x, y))
        y += 1
    x += 1
print(dice_above10)

[(4, 6), (5, 5), (5, 6), (6, 4), (6, 5), (6, 6)]



```
1 + 2 + 3 + ... + 99 + 100 = ?
```

In [10]:
# 1 + 2 + 3 + ... + (n-1) + n = n * (n+1) / 2
100 * (100 + 1) / 2

5050.0

In [11]:
total = 0  # 1부터 100까지 더해갈 변수. total = 1 + 2 + 3 + ... + 99 + 100
for n in range(1, 101):
    total += n  # total = total + n
print(total)

5050

In [12]:
total = sum([x for x in range(1, 101)])  # [1, 2, 3, ..., 99, 100]
print(total)

5050

In [13]:
total  = 0
n = 1
while n <= 100:  # while n < 101:
    total += n
    n += 1
print(total)

5050



```
1 + 4 + 9 + 16 + ... + 81 + 100 = ?
```

In [14]:
# 1^2 + 2^2 + 3^2 + ... + (n-1)^2 + n^2 = n * (n+1) * (2*n+1) / 6
10 * (10 + 1) * (2 * 10 + 1) / 6

385.0

In [15]:
total = sum([x ** 2 for x in range(1, 11)])  # [1, 4, 9, ..., 81, 100]
print(total)

385

In [16]:
total = 0
for n in range(1, 11):
    total += n ** 2
print(total)

385

In [17]:
total = 0
n = 1
while n <= 10:
    total += n ** 2
    n += 1
print(total)

385



```
1 + 2 + 3 + ... + (n - 1) + n <= 100를 만족하는 가장 큰 정수 n?
```

In [19]:
total = 0
n = 1
while total <= 100:
    total += n
    print(f'n={n}, total={total}')
    n += 1

n=1, total=1
n=2, total=3
n=3, total=6
n=4, total=10
n=5, total=15
n=6, total=21
n=7, total=28
n=8, total=36
n=9, total=45
n=10, total=55
n=11, total=66
n=12, total=78
n=13, total=91
n=14, total=105

In [23]:
total = 0
n = 1
while True:  # 무한 루프(infinite loop)
    total += n
    
    if total > 100:
        break  # 무한 루프 종료
    else:
        print(f'n={n}, total={total}')
        
    n += 1

n=1, total=1
n=2, total=3
n=3, total=6
n=4, total=10
n=5, total=15
n=6, total=21
n=7, total=28
n=8, total=36
n=9, total=45
n=10, total=55
n=11, total=66
n=12, total=78
n=13, total=91

In [22]:
total = 0
for n in range(1, 100):
    total += n
    print(f'n={n}, total={total}')
    if total > 100:
        break

n=1, total=1
n=2, total=3
n=3, total=6
n=4, total=10
n=5, total=15
n=6, total=21
n=7, total=28
n=8, total=36
n=9, total=45
n=10, total=55
n=11, total=66
n=12, total=78
n=13, total=91
n=14, total=105

In [25]:
x = int(input('정수 입력>>> '))
print(type(x))

정수 입력>>> 100
<class 'int'>