<a href="https://colab.research.google.com/github/JakeOh/202011_itw_bd21/blob/main/lab_python/python12_tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# tuple

**tuple**

* 원소들을 변경할 수 없는 리스트
* 인덱스(index)를 사용해서 원소를 접근할 수 있음.
* append(), insert(), extend(), remove(), pop()와 같은 기능(메서드)들은 제공되지 않음.

In [4]:
numbers = (1, 2, 3, 4, 5)
print(numbers)
print(type(numbers))
# []: 인덱스 연산자
print(numbers[0])
print(numbers[-1])

(1, 2, 3, 4, 5)
<class 'tuple'>
1
5

## tuple slicing

In [5]:
print(numbers[1:3])

(2, 3)

In [6]:
print(numbers[:3])

(1, 2, 3)

In [7]:
print(numbers[3:])

(4, 5)

In [8]:
print(numbers[-1:])  #> tuple slicing의 결과: tuple.

(5,)

In [10]:
numbers[0] = 100
#> tuple은 변경 불가능하기 때문에, 원소의 값을 바꾸려고 하면 에러가 발생됨.

TypeError: ignored

tuple과 for loop

In [13]:
print(numbers)
for x in numbers:
    print(x)

(1, 2, 3, 4, 5)
1
2
3
4
5

In [14]:
num_list = [x for x in range(10)]  # list comprehension
print(num_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
# empty_tuple = tuple()
empty_tuple = ()
for x in range(10):
    empty_tuple.append(x)
    #> tuple은 append() 메서드가 없음!

print(empty_tuple)

AttributeError: ignored

## tuple decomposition(분해)

In [20]:
one, two = (1, 2)
print(one)
print(two)

1
2

In [21]:
# list decomposition
gender1, gender2 = ['male', 'female']
print(gender1)
print(gender2)

male
female

In [22]:
numbers = [1, 3, 2, 4, 10]
for index, value in enumerate(numbers):
    print(index, ':', value)

0 : 1
1 : 3
2 : 2
3 : 4
4 : 10