<a href="https://colab.research.google.com/github/JakeOh/202011_itw_bd21/blob/main/lab_python/python20_recursive_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**재귀 함수(recursive function)**: 함수 내부에서 자기 자신을 다시 호출하는 함수.

In [1]:
def factorial(n):
    """
    0! = 1
    1! = 1
    2! = 1 x 2 = 2
    3! = 1 x 2 x 3 = 6
    ...
    n! = 1 x 2 x ... x (n-1) x n, n >= 1
    """
    result = None
    if n == 0:
        result = 1  # 0! = 1
    elif n > 0:
        result = 1
        for x in range(1, n + 1):
            result *= x
    
    return result

In [2]:
factorial(0)

1

In [3]:
factorial(1)

1

In [4]:
factorial(3)

6

In [5]:
factorial(-100)

In [7]:
# 0! = 1
# n! = 1 x 2 x 3 x ... x (n-1) x n = (n-1)! x n, n >= 1
def factorial2(n):
    result = None
    if n == 0:
        result = 1
    elif n > 0:
        result = factorial2(n - 1) * n

    return result

In [8]:
for n in range(-1, 6):
    print(f'{n}! = {factorial2(n)}')

-1! = None
0! = 1
1! = 1
2! = 2
3! = 6
4! = 24
5! = 120

In [9]:
def sum_to(n):
    """
    s(0) = 0
    s(1) = 1
    s(2) = 1 + 2
    ...
    s(n) = 1 + 2 + 3 + ... + (n-1) + n = s(n-1) + n, n > 0
    n < 0 경우, None을 리턴
    """
    result = None
    if n == 0:
        result = 0
    elif n > 0:
        result = sum_to(n-1) + n

    return result

In [10]:
for n in range(-1, 6):
    print(f'sum_to({n}) = {sum_to(n)}')

sum_to(-1) = None
sum_to(0) = 0
sum_to(1) = 1
sum_to(2) = 3
sum_to(3) = 6
sum_to(4) = 10
sum_to(5) = 15